<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="NgxEditor__Wrapper">
                        <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                        <ngx-editor [editor]="editor" [ngModel]="html" [disabled]="false"
                            [placeholder]="'Type here...'"></ngx-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>