<div class="mb-3 row">
    <div class="col-sm-3">
        <label class="form-label" for="exampleDataList">Datalist example</label>
    </div>
    <div class="col-sm-9">
        <input class="form-control" id="exampleDataList" list="datalistOptions"
            placeholder="Look up your nation...">
        <datalist id="datalistOptions">
            <option value="San Francisco"></option>
            <option value="New York"></option>
            <option value="Seattle"></option>
            <option value="Los Angeles"></option>
            <option value="Chicago"></option>
            <option value="India"> </option>
        </datalist>
    </div>
</div>