<div class="row g-3 custom-input">
    <div class="col-sm-6">
        <label class="form-label">Stock Availability</label>
        <select class="form-select" aria-label="Default select example">
            <option selected="">In stock</option>
            <option value="1">Out of stock</option>
            <option value="2">Pre-order</option>
        </select>
    </div>
    <div class="col-sm-6">
        <label class="form-label">Low Stock</label>
        <select class="form-select" aria-label="Default select example">
            <option selected="">Low Stock (5 or less)</option>
            <option value="1">Low Stock (10 or less)</option>
            <option value="2">Low Stock (20 or less)</option>
            <option value="2">Low Stock (25 or less)</option>
            <option value="2">Low Stock (30 or less)</option>
        </select>
    </div>
    <div class="col-lg-3 col-sm-6">
        <label class="form-label" for="exampleFormControlInput1">SKU <span
                class="txt-danger">*</span></label>
        <input class="form-control" id="exampleFormControlInput1" type="text">
    </div>
    <div class="col-lg-3 col-sm-6">
        <label class="form-label" for="exampleFormControlInputa">Stock Quantity <span
                class="txt-danger">*</span></label>
        <input class="form-control" id="exampleFormControlInputa" type="number" value="7" min="0">
    </div>
    <div class="col-lg-3 col-sm-6">
        <label class="form-label" for="exampleFormControlInputb">Restock Date <span
                class="txt-danger">*</span></label>
        <input class="form-control" id="exampleFormControlInputb" type="number">
    </div>
    <div class="col-lg-3 col-sm-6">
        <label class="form-label" for="exampleFormControlInputc">Pre-Order <span
                class="txt-danger">*</span></label>
        <input class="form-control" id="exampleFormControlInputc" type="number">
    </div>
    <div class="col-12">
        <label class="form-label">Allow Backorders</label>
        <div class="form-check">
            <input class="form-check-input" id="gridCheck" type="checkbox">
            <label class="form-check-label m-0" for="gridCheck">This is a digital Product</label>
            <p class="f-light">Decide if the product is a digital or physical item. Shipping may be
                necessary for real-world items.
            </p>
        </div>
    </div>
</div>


        