<div class="card shadow-none border">
    <div class="card-header">
        <h4>Without shadow Card</h4>
        <p class="f-m-light mt-1">Use the<code>.shadow-none </code>&<code>.border </code>class through shadow removes.
        </p>
    </div>
    <div class="card-body">
        <div class="flex-space flex-wrap align-items-center">
            <img class="tab-img" src="assets/images/avtar/3.jpg" alt="profile">
            <p>
                <strong>Visit Us: </strong> 2600 Hollywood Blvd,Florida, United States- 33020<br><strong>Mail
                    Us:</strong>contact&#64;us&#64;gmail.com<br><strong>Contact Number: </strong>(954) 357-7760
            </p>
        </div>
    </div>
</div>