<div class="card">
    <div class="card-header">
        <h4>Filled tooltip</h4>
        <p class="f-m-light mt-1">
           Tooltip in hover effect through fill dark color.<code>[.btn-outline-*]</code>. and <code>data-bs-title </code>to the content under the HTML Tag.</p>
    </div>
    <div class="card-body fill-tooltip">
        <div class="common-flex">
            <button class="btn btn-outline-primary mb-0 me-0" type="button" data-bs-html="true" placement="top"
                ngbTooltip="Tooltip Primary">Tooltip Primary</button>
            <button class="btn btn-outline-secondary mb-0 me-0" type="button" placement="top" data-bs-html="true"
                ngbTooltip="Tooltip Secondary">Tooltip Secondary</button>
            <button class="btn btn-outline-success mb-0 me-0" type="button" placement="top" data-bs-html="true"
                ngbTooltip="Tooltip Success">Tooltip Success</button>
            <button class="btn btn-outline-info mb-0 me-0" type="button" placement="top" data-bs-html="true"
                ngbTooltip="Tooltip Info">Tooltip Info</button>
        </div>
    </div>
</div>
