<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Input masks</h4>
                    <p class="f-m-light mt-1">
                        Input mask used in form-validations,forms,card-details,and etc.</p>
                </div>
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <app-date-format></app-date-format>
                        </div>
                        <div class="col-sm-6">
                            <app-time-format></app-time-format>
                        </div>
                        <div class="col-12">
                            <app-dafault-input-mask></app-dafault-input-mask>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>