<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-12">
            <app-slides-only></app-slides-only>
        </div>
        <div class="col-xl-6 col-12">
            <app-auto-height-example></app-auto-height-example>
        </div>
        <div class="col-xl-6 col-12">
            <app-auto-play></app-auto-play>
        </div>
        <div class="col-xl-6 col-12">
            <app-cross-fade></app-cross-fade>
        </div>
        <div class="col-xl-12">
            <app-center-example></app-center-example>
        </div>
        <div class="col-xl-6 col-12">
            <app-lazy-load-example></app-lazy-load-example>
        </div>
        <div class="col-xl-6 col-12">
            <app-right-left-example></app-right-left-example>
        </div>
        <div class="col-xl-12">
            <app-auto-width-example></app-auto-width-example>
        </div>
        <div class="col-xl-12">
            <app-responsive-example></app-responsive-example>
        </div>
    </div>
</div>
