<div class="card">
    <div class="card-header pb-0">
        <h4>Default Range Slider</h4>
        <p class="f-m-light mt-1">
            Use the <code>.range-slider </code> class. and Riho used Ion range
            slider.<code>[http://ionden.com/a/plugins/ion.rangeSlider]</code></p>
    </div>
    <div class="card-body">
        <form class="theme-form form-label-align-right range-slider">
            <div class="form-group row py-1">
                <div class="col-md-10">
                    <ngx-slider [(value)]="value" [options]="options"></ngx-slider>
                </div>
            </div>
        </form>
    </div>
</div>
