<button class="btn btn-outline-success-2x" type="button"
    (click)="FullscreenbelowMdModal(FullscreenbelowMdContent)">Fullscreen below md</button>
<ng-template #FullscreenbelowMdContent let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="mdModalLabel">Full screen below md</h1>
            <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body dark-modal">
            <div class="large-modal-header">
                <app-feathericon [icon]="'chevrons-right'"></app-feathericon>
                <h6>Web design </h6>
            </div>
            <p class="modal-padding-space">We build specialised websites for companies, list them on
                digital directories, and set up a sales funnel to boost ROI.</p>
            <div class="modal-details">
                <div class="web-content">
                    <h6>Wed designer</h6>
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <app-feathericon [icon]="'arrow-right-circle'" class="svg-modal"></app-feathericon>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            <p>For a site to be successful, a designer must be able to communicate their ideas,
                                chat with a firm about what they want, and inquire about the target audience.
                            </p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <app-feathericon [icon]="'arrow-right-circle'" class="svg-modal"></app-feathericon>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            <p>Most businesses employ a certain font or typography so that clients can quickly
                                distinguish them from their rivals. Since designers now have access to a wider
                                variety of fonts, firms may more easily and precisely communicate their brands
                                through typography.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="web-content">
                    <h6>UX designer </h6>
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <app-feathericon [icon]="'arrow-right-circle'" class="svg-modal"></app-feathericon>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            <p>User research, persona creation, building wireframes and interactive prototypes,
                                and testing ideas are among the common tasks of a UX designer. These duties can
                                differ greatly between organizations.
                            </p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <app-feathericon [icon]="'arrow-right-circle'" class="svg-modal"></app-feathericon>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            <p>Keep in mind that you are creating solutions to particular challenges for a
                                particular population living in a particular habitat. Always remember to correctly
                                contextualise your thoughts and determine whether they are actually appropriatefor
                                the situation. It's sometimes necessary to concede that a digital solution is not
                                the most appropriate choice in a certain circumstance.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" (click)="modal.dismiss('Cross click')">Close</button>
            <button class="btn btn-primary" type="button">Save changes </button>
        </div>
    </div>
</ng-template>
