<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <app-default-breadcrumb></app-default-breadcrumb>
        </div>
        <div class="col-sm-6">
            <app-divider-breadcrumb></app-divider-breadcrumb>
        </div>
        <div class="col-sm-6">
            <app-icons-breadcrumb></app-icons-breadcrumb>
        </div>
        <div class="col-sm-6">
            <app-variation-breadcrumb></app-variation-breadcrumb>
        </div>
        <div class="col-sm-12">
            <app-colored-breadcrumb></app-colored-breadcrumb>
        </div>
    </div>
</div>
