<div class="small-chart-widget chart-widgets-small">
    <div class="card">
        <div class="card-header">
            <h4>Monthly Sales</h4>
            <div class="card-body">
                <div class="chart-container">
                    <div class="row">
                        <div class="col-12">
                            <div id="chart-widget8">
                                <apx-chart [series]="MonthlySalesChart.series" [chart]="MonthlySalesChart.chart"
                                    [labels]="MonthlySalesChart.labels" [markers]="MonthlySalesChart.markers"
                                    [dataLabels]="MonthlySalesChart.dataLabels" [title]="MonthlySalesChart.title"
                                    [fill]="MonthlySalesChart.fill" [stroke]="MonthlySalesChart.stroke"
                                    [colors]="MonthlySalesChart.colors">
                                </apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>