<div class="container-fluid">
    <div class="row">
        <app-common-border-card></app-common-border-card>
        <div class="col-xxl-4 col-md-4">
            <app-border-primary-state></app-border-primary-state>
        </div>
        <div class="col-xxl-4 col-md-4">
            <app-border-warning-state></app-border-warning-state>
        </div>
        <div class="col-xxl-4 col-md-4">
            <app-border-secondary-state></app-border-secondary-state>
        </div>
        <app-common-absolute-card></app-common-absolute-card>
    </div>
</div>
