<table style="width:100%;">
    <tbody>
      <tr style="display:flex; justify-content: space-between; margin:28px 0; align-items: center;">
        <td> <span style=" font-size: 16px; font-weight: 500;opacity: 0.8; font-weight: 600;">BANK TRANSFER</span>
          <h4 style="font-weight:600; margin: 12px 0 5px 0; font-size: 18px; color:#006666;">Leslie Alexander</h4><span style=" display:block; line-height: 1.5;  font-size: 18px; font-weight: 400;">Bank Account : 0981234098765</span><span style="line-height:1.6;  font-size: 18px; font-weight: 400;">Code : LEF098756</span>
        </td>
        <td><span style="font-size: 16px; font-weight: 500;opacity: 0.8; font-weight: 600;">TOTAL AMOUNT</span>
          <h4 style="font-weight:600; margin: 12px 0 5px 0; font-size: 26px;color:#006666;">$175.00</h4><span style=" font-size: 16px; font-weight: 400; line-height: 1.5;">All Taxes included      </span>
        </td>
      </tr>
    </tbody>
  </table>
