<div class="card">
    <div class="card-header">
        <h4>Crypto Annotations</h4>
    </div>
    <div class="card-body">
        <div class="chart-container">
            <div class="row">
                <div class="col-12">
                    <div id="crypto-annotation"> 
                        <apx-chart [series]="CryptoannotationsChart.series" [chart]="CryptoannotationsChart.chart"
                            [annotations]="CryptoannotationsChart.annotations" [grid]="CryptoannotationsChart.grid"
                            [stroke]="CryptoannotationsChart.stroke" [title]="CryptoannotationsChart.title"
                            [labels]="CryptoannotationsChart.labels" [xaxis]="CryptoannotationsChart.xaxis"
                            [yaxis]="CryptoannotationsChart.yaxis" [dataLabels]="CryptoannotationsChart.dataLabels"
                            [responsive]="CryptoannotationsChart.responsive" [colors]="CryptoannotationsChart.colors">
                        </apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>