<div class="card">
    <div class="card-header">
      <h4>Borders and displays</h4>
      <p class="f-m-light mt-1">
         Use border utilities to add or remove an element's borders.</p>
    </div>
    <div class="card-body">
      <div class="row g-3">
        <div class="col-xl-4 col-sm-6">
            <app-common-displays-style [data]="Additiveborder"></app-common-displays-style>
        </div>
        <div class="col-xl-4 col-sm-6">
            <app-common-displays-style [data]="SubtractiveborderData"></app-common-displays-style>
        </div>
        <div class="col-xl-4 col-sm-6">
            <app-common-displays-style [data]="AdditiveRadiusData"></app-common-displays-style>
        </div>
      </div>
    </div>
  </div>
