<table style="float: right;">
    <tfoot>
      <tr> 
        <td style="padding: 5px 24px 5px 0; padding-top: 15px; text-align: end;"> <span style=" font-size: 18px; font-weight: 400;">Subtotal  </span><span style="margin-left: 8px; font-size: 18px;">:</span></td>
        <td style="padding: 5px 0;text-align: left;padding-top: 15px;"><span style="font-size: 18px;">$26,400.00</span></td>
      </tr>
      <tr>
        <td style="padding: 5px 24px 5px 0; text-align: end;"> <span style=" font-size: 18px; font-weight: 400;">VAT (0%)  </span><span style="margin-left: 8px; font-size: 18px;">:</span></td>
        <td style="padding: 5px 0;text-align: left;padding-top: 0;"><span style="font-size: 18px;">$0.00</span></td>
      </tr>
      <tr>
        <td style="padding: 5px 24px 5px 0; text-align: end;"> <span style=" font-size: 18px; font-weight: 400;">Shipping Rate</span><span style="margin-left: 8px; font-size: 18px;">:</span></td>
        <td style="padding: 5px 0;text-align: left;padding-top: 0;"><span style="font-size: 18px;">$10.00</span></td>
      </tr>
      <tr>
        <td style="padding: 12px 24px 22px 0;"> <span style="font-weight: 600; font-size: 20px; color: rgba(0, 2, 72, 1);">Total Amount</span><span style="margin-left: 8px;">:</span></td>
        <td style="padding: 12px 24px 22px 0;;text-align: right"><span style="font-weight: 500; font-size: 20px; color: #006666 ;">$26,410.00</span></td>
      </tr>
    </tfoot>
  </table>