<div class="card height-equal">
  <div class="card-header border-l-warning border-3">
    <h4>Border Warning State</h4>
    <p class="mt-1 f-m-light">Use the class of<code>.b-l-* </code>for left border and <code>.border-3 </code>is used to
      increase the width of the border.</p>
  </div>
  <div class="card-body">
    <ol class="list-group list-group-numbered">
      <li class="list-group-item txt-primary fw-bold">known for delivery of useful and usable solutions</li>
      <li class="list-group-item txt-danger fw-bold">Solve your problem with us</li>
      <li class="list-group-item txt-success fw-bold">Certified Professionals</li>
      <li class="list-group-item txt-warning fw-bold">Growth-Driven </li>
    </ol>
  </div>
</div>