<div class="card">
    <div class="card-header">
        <h4>Pagination Sizing</h4>
        <p class="f-m-light mt-1">Use <code>[pagination-lg/pagination-md/pagination-lg]</code> for additional sizes.</p>
    </div>
    <div class="card-body">
        <nav class="m-b-30" aria-label="Page navigation example">
            <ul class="pagination pagination-lg pagination-info pagin-border-info">
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
            </ul>
        </nav>
        <nav class="m-b-30" aria-label="Page navigation example">
            <ul class="pagination pagination-md pagination-info pagin-border-info">
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
            </ul>
        </nav>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm pagination-info pagin-border-info">
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
            </ul>
        </nav>
    </div>
</div>