<div class="card height-equal">
    <div class="card-header">
      <h4> Dark dropdown</h4>
      <p class="f-m-light mt-1"><code>.dropdown-menu-dark </code>class through make dark mode.</p>
    </div>
    <div class="card-body dropdown-basic m-0 rtl-dropdown" ngbDropdown>
        <div class="common-flex dark-dropdown">
          <button class="btn btn-dark txt-light dropdown-toggle" type="button" dngbDropdownToggle>Dark Night</button>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-block" ngbDropdownMenu>
            <li><a class="dropdown-item active" href="javascript:void(0)" ngbDropdownItem>Dark moon</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Dark owl </a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Nightfall</a></li>
        </ul>
    </div>
</div>
