<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <app-basic-modal></app-basic-modal>
        </div>
        <div class="col-lg-6">
            <app-sizes-modal></app-sizes-modal>
        </div>
        <div class="col-xl-12">
            <app-fullscreen-modals></app-fullscreen-modals>
        </div>
        <div class="col-xl-4">
            <app-centered-modal></app-centered-modal>
        </div>
        <div class="col-xl-4">
            <app-toggle-modals></app-toggle-modals>
        </div>
        <div class="col-xl-4">
            <app-static-backdrop-modal></app-static-backdrop-modal>
        </div>
        <div class="col-12">
            <app-custom-modals></app-custom-modals>
        </div>
    </div>
</div>