<div class="card">
    <div class="card-header">
        <h5 class="mb-0">
            <button class="btn btn-link" data-bs-toggle="collapse" (click)="collapse.toggle()"
                [attr.aria-expanded]="!isCollapsed">Find Course</button>
        </h5>
    </div>
    <div class="collapse show" id="collapseicon" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="card-body filter-cards-view animate-chk">
            <div class="job-filter">
                <div class="faq-form">
                    <input class="form-control" type="text" placeholder="Search..">
                    <app-feathericon [icon]="'search'" class="search-icon"></app-feathericon>
                </div>
            </div>
            @for(allData of findCourse ; track allData){
            <div class="checkbox-animated mt-0">
                <div class="learning-header">
                    <span class="f-w-700">{{ allData.title }}</span>
                </div>
                @for(data of allData.check; track data){
                <label class="d-block" for="{{ data.checkId}}">
                    <input class="{{ allData.type }}_animated" id="{{ data.checkId}}" type="{{ allData.type }}"
                        name="{{ data.name }}" [checked]="data.checked">{{ data.checkTitle }}
                </label>
                }
            </div>
            }
            <button class="btn btn-primary text-center" type="button">Filter</button>
        </div>
    </div>
</div>