<div class="card">
    <div class="card-header">
        <h4>Basic tooltip</h4>
        <p class="f-m-light mt-1">
           Use the <code>data-bs-title</code> to change tooltip title and <code>data-bs-toggle</code> to add tooltip attribute.</p>
    </div>
    <div class="card-body">
        <button class="example-popover btn btn-primary mb-0 me-0" type="button" data-container="body" placement="top"
            ngbTooltip="Surprise!!! Thank you for hovering...">It's magic please
            hover me... </button>
            <h5 class="mb-1 py-4 pb-0">Inline Tooltip Content</h5>
        <p>
            Here, is some content about tooltips that you can set the<a class="txt-primary fw-bold" placement="top"
                ngbTooltip="popover text"> tooltip</a> inside the
            content with help of tooltip and also you can add
            <button class="btn btn-success text-white border-0 px-3 py-1 me-0 mb-0" type="button" placement="top"
                ngbTooltip="button">button </button> .Tooltips helps you to add more and more
            content. A tooltip is often used to specify extra information about something when the user moves the mouse
            pointer over an element
        </p>
    </div>
</div>
