<div class="container-fluid">
    <div class="row">
        <app-common-button-gorup></app-common-button-gorup>
        <app-outline-custom-button-group></app-outline-custom-button-group>
        <app-outline-custom-button-group2></app-outline-custom-button-group2>
        <app-common-outline-button></app-common-outline-button>
    </div>
    <div class="row">
        <div class="col-12">
            <app-radio-button-group></app-radio-button-group>
        </div>
        <div class="col-12">
            <app-checkbox-button-group></app-checkbox-button-group>
        </div>
        <div class="col-lg-6">
            <app-nesting></app-nesting>
        </div>
        <div class="col-lg-6">
            <app-vertical></app-vertical>
        </div>
    </div>
</div>
