<div class="card">
    <div class="table-responsive custom-scrollbar">
        <div class="card-body">
            <form>
                <!-- <div class="mb-3 row">
                    <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
                    <div class="col-xs-3 col-sm-auto">
                        <input id="table-complete-search" type="text" class="form-control" name="searchTerm"
                            [(ngModel)]="service.searchTerm" autocomplete="off" />
                    </div>
                    @if(service.loading$ | async){
                        <span class="col col-form-label">Loading...</span>
                    }
                </div> -->
                <table class="table table-striped data-striped">
                    <thead>
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <!-- <th scope="col" sortable="name"> Name   <input type="text" [(ngModel)]="nameSearch" name="nameSearch" (input)="onNameSearchChange()"> </th> -->
                            
                            <th scope="col" sortable="position">Job   <input type="text" [(ngModel)]="jobSearch" name="nameSearch" (input)="onJobSearchChange()"> </th>
                            
                            <!-- Add input fields for other columns as needed -->
                            <th scope="col" sortable="salary"> Project  <input type="text" [(ngModel)]="projectSearch" name="nameSearch" (input)="onProjectSearchChange()"></th>
                            <th scope="col" sortable="office" >Interview Date</th>
                            <th scope="col" sortable="extn" >Interview Time</th>
                            <th scope="col" sortable="email" >Interview Round   <input type="text" [(ngModel)]="roundSearch" name="nameSearch" (input)="onInterviewSearchChange()"></th>
                            <th scope="col" sortable="email" > Skill  <input type="text" [(ngModel)]="skillSearch" name="nameSearch" (input)="onSkillSearchChange()"> </th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody >
                        <ng-container *ngIf="pagedData?.length; else noData">
                            <tr *ngFor="let item of pagedData; let i = index">
                                <!-- <th scope="row">{{ i + 1 }}</th> -->
                                <!-- <td>{{ item.UserName }}</td> -->
                                <td>{{ item.JobTitle }}</td>
                                <td>{{ item.ProjectName }}</td>
                                <td>{{ item.Interview_Date  | date:"dd MMM, yyyy" }}</td>
                                <td>{{ item.Interview_Time  | date:" h:mm a" }}</td>
                                <td>{{ item.RoundName }}</td>
                                <td>{{ item.PrimarySkillName }}</td>
                                <td>
                                    <ng-container *ngIf="item.Cancel_It; else notCancelled">
                                        <span class="badge rounded-pill bg-warning">Cancelled</span>
                                    </ng-container>
                                    <ng-template #notCancelled>
                                        <ng-container>
                                            <span class="badge rounded-pill bg-info">Pending</span>
                                        </ng-container>
                                        <ng-container *ngIf="item.IsSelected">
                                            <span class="badge rounded-pill bg-Primary">Selected</span>
                                        </ng-container>
                                        <ng-container *ngIf="item.IsRejected">
                                            <span class="badge rounded-pill bg-danger">Rejected</span>
                                        </ng-container>
                                    </ng-template>
                                </td>   
                            </tr>
                        </ng-container>
                        <ng-template #noData>
                            <tr>
                                <td colspan="12" class="text-center">Oops! There are no results found.</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
              
                  <div class="d-flex justify-content-between p-2">
                  <div>
                    <select class="form-select" (change)="changePageSize($event.target)">
                        <option value="5">5 items per page</option>
                        <option value="10">10 items per page</option>
                        <option value="20">20 items per page</option>
                      </select>
                  </div>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-primary pagin-border-primary">
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" aria-label="Previous" (click)="pageChanged(currentPage - 1)"  [ngClass]="{'disabled-link': currentPage === 1}">
                          <span aria-hidden="true">«</span><span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item" *ngFor="let page of getPageNumbers()">
                        <a class="page-link" href="javascript:void(0)" (click)="pageChanged(page)" [class.active]="currentPage === page">{{ page }}</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" aria-label="Next" (click)="pageChanged(currentPage + 1)" [ngClass]="{'disabled-link': currentPage === getTotalPages()}">
                          <span aria-hidden="true">»</span><span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  
                </div>
              </form>
        </div>
    </div>
</div>