<div class="card height-equal">
    <div class="card-header">
      <h4> With input type</h4>
      <p class="f-m-light mt-1">Use the checkbox using dropdown<code>(type='checkbox'/'radio')</code>.</p>
    </div>
    <div class="card-body">
        <div class="common-flex" ngbDropdown>
            <button class="btn btn-warning" type="button" ngbDropdownToggle>Inputs </button>
            <ul class="dropdown-menu dropdown-block dropdown-wrapper dark-input-type" ngbDropdownMenu>
                <li ngbDropdownItem>
                    <div class="input-group rounded-0 border-0 shadow-none">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox">
                        </div><span>Default checkbox</span>
                    </div>
                    <div class="input-group rounded-0 border-0 shadow-none">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="radio" value=""
                                aria-label="Radio button for following text input">
                        </div><span>Default radio</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

