<div class="card" ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem [collapsed]="false">
        <div class="card-header" ngbAccordionHeader>
            <h2 class="p-0">
                <button class="btn btn-link btn-block text-start" ngbAccordionButton>Mutual Friends</button>
            </h2>
        </div>
        <div class="collapse show" ngbAccordionCollapse>
            <div class="card-body social-status filter-cards-view" ngbAccordionBody>
                <ng-template>
                    @for(data of mautalFriendsData; track data){
                    <div class="d-flex">
                        <img class="img-50 rounded-circle m-r-15" src="{{ data.img }}" alt="">
                        <div class="social-status social-{{ data.status }}"></div>
                        <div class="flex-grow-1"><span class="f-w-700 d-block">{{ data.name }}</span><span
                                class="d-block">{{ data.email }}</span>
                        </div>
                    </div>
                }
                </ng-template>
            </div>
        </div>
    </div>
</div>