<div class="mb-3 row">
  <label class="col-sm-3">Date and time</label>
  <div class="col-sm-9">
    <input class="form-control digits" id="example-datetime-local-input" type="datetime-local"
      value="2018-01-19T18:45:00">
  </div>
</div>
<div class="mb-3 row">
  <label class="col-sm-3">Date</label>
  <div class="col-sm-9">
    <input class="form-control digits" type="date" value="2018-01-01">
  </div>
</div>
<div class="mb-3 row">
  <label class="col-sm-3">Month</label>
  <div class="col-sm-9">
    <input class="form-control digits" type="month" value="2018-01">
  </div>
</div>
<div class="mb-3 row">
  <label class="col-sm-3">Week</label>
  <div class="col-sm-9">
    <input class="form-control digits" type="week" value="2018-W09">
  </div>
</div>