<button class="btn btn-secondary" type="button" (click)="simpleModal(simpleContent)">Simple</button>
<ng-template #simpleContent let-modal>
    <div class="modal-content">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-toggle-wrapper">
                    <h4>Up to <strong class="txt-danger">85% OFF</strong>, Hurry Up Online Shopping</h4>
                    <div class="modal-img"> <img src="assets/images/gif/online-shopping.gif" alt="online-shopping">
                    </div>
                    <p class="text-sm-center">Our difficulty in finding regular clothes that was of great quality,
                        comfortable, and didn't impact the environment given way to Creatures of Habit.</p>
                    <button class="btn bg-primary d-flex align-items-center gap-2 text-light ms-auto" type="button"
                        (click)="modal.dismiss('Cross click')">Explore More
                        <app-feathericon [icon]="'arrow-right'"></app-feathericon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>