<div class="container-fluid">
    <div class="row size-column">
        <div class="col-xl-8 col-md-12 box-col-12">
            <app-revenue-growth></app-revenue-growth>
        </div>
        <div class="col-xl-4 col-md-6 box-col-none">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <app-sale-card></app-sale-card>
                </div>
                <div class="col-md-12 col-sm-6">
                    <app-deliveries></app-deliveries>
                </div>
            </div>
        </div>
        <div class="col-xxl-4 col-md-6 box-col-6">
            <app-top-product></app-top-product>
        </div>
        <div class="col-xxl-3 col-sm-6 box-col-6">
            <app-new-user></app-new-user>
        </div>
        <div class="col-xxl-5 col-sm-6 box-col-6">
            <app-team-activity></app-team-activity>
        </div>
        <div class="col-xxl-4 col-xl-6 box-col-6">
           <app-user-visits-day [uservisist]="true"></app-user-visits-day>
        </div>
        <div class="col-xxl-5 col-xl-6 box-col-6">
            <app-latest-transaction></app-latest-transaction>
        </div>
        <div class="col-xxl-3 col-xl-6 box-col-6">
            <app-chart-rader></app-chart-rader>
        </div>
    </div>
</div>