<div class="container-fluid">
    <div class="user-profile">
      <div class="row">
        <div class="col-xl-4 col-md-6">
            <app-sizes></app-sizes>
        </div>
        <div class="col-xl-4 col-md-6">
            <app-status-indicator></app-status-indicator>
        </div>
        <div class="col-xl-4 col-md-6">
            <app-shapes></app-shapes>
        </div>
        <div class="col-md-6">
            <app-ratio></app-ratio>
        </div>
        <div class="col-xl-6">
            <app-grouping></app-grouping>
        </div>
      </div>
    </div>
</div>
