<div class="container-fluid">
    <div class="faq-wrap">
        <div class="row">
            <app-top-common-faq [data]="FaqTopPartData"></app-top-common-faq>
            <div class="col-lg-12">
                <div class="header-faq">
                    <h5 class="mb-0">Quick Questions are answered</h5>
                </div>
                <div class="row default-according style-1 faq-accordion" id="accordionoc">
                    <div class="col-xl-8 xl-60 col-lg-6 col-md-7">
                        <app-questions></app-questions>
                    </div>
                    <div class="col-xl-4 xl-40 col-lg-6 col-md-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <app-serach-artical></app-serach-artical>
                            </div>
                            <div class="col-lg-12">
                                <app-navigation></app-navigation>
                            </div>
                            <div class="col-lg-12">
                                <app-latest-update></app-latest-update>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <app-featured-tutorials [data]="featuredTutorialData"></app-featured-tutorials>
            </div>
            <div class="col-lg-12">
                <app-latest-artical-videos [data]="articlesAndVideosData"></app-latest-artical-videos>
            </div>
        </div>
    </div>
</div>