<div class="btn btn-secondary" (click)="FullScreenModal(fullScreenContent)">Full Screen Modal</div>
<ng-template #fullScreenContent let-modal>
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myFullLargeModalLabel">Extra large modal</h4>
                <button class="btn-close py-0" type="button" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body dark-modal">
                <div class="large-modal-header mb-2">
                    <app-feathericon [icon]="'chevrons-right'"></app-feathericon>
                    <h6>Web design </h6>
                </div>
                <p class="modal-padding-space">We build specialised websites for companies, list them on digital
                    directories, and set up a sales funnel to boost ROI.</p>
                <div class="large-modal-header mb-2">
                    <app-feathericon [icon]="'chevrons-right'"></app-feathericon>
                    <h6>Content marketing </h6>
                </div>
                <p class="modal-padding-space">Through better opportunities and knowledgeable marketing strategies, we
                    aid business funnel. We won't only hit the target; instead, we'll aim higher and surpass the
                    objectives.</p>
                <div class="large-modal-header mb-2">
                    <app-feathericon [icon]="'chevrons-right'"></app-feathericon>
                    <h6>PPC </h6>
                </div>
                <p class="modal-padding-space">Customized advertising to increase visitors and improve conversion. To
                    increase retention, identify the correct audience and remarket to them.</p>
                <div class="large-modal-header mb-2"> <i data-feather="chevrons-right"> </i>
                    <h6>UX designer </h6>
                </div>
                <p class="modal-padding-space">The capacity to comprehend and experience other people's feelings is
                    known as empathy. A positive consumer experience is prioritised by UX. The finest UX designers spend
                    time studying individuals and their tendencies because of this. Designers may produce goods that
                    genuinely engage and excite customers by having a thorough understanding of the end consumers.</p>
            </div>
        </div>
    </div>
</ng-template>