<div class="mb-3 row"> 
    <label class="col-sm-3">Comments</label>
    <div class="col-sm-9"> 
      <div class="form-floating">
        <textarea class="form-control" id="floatingTextarea" placeholder="Leave a comment here"></textarea>
        <label for="floatingTextarea">Comments</label>
      </div>
    </div>
  </div>
  <div class="mb-3 row"> 
    <label class="col-sm-3">Email</label>
    <div class="col-sm-9"> 
      <div class="form-floating mb-3">
        <input class="form-control" id="floatingInput" type="email">
        <label for="floatingInput">Email address</label>
      </div>
    </div>
  </div>
  <div class="mb-3 row"> 
    <label class="col-sm-3">Password</label>
    <div class="col-sm-9"> 
      <div class="form-floating">
        <input class="form-control" id="floatingPassword1" type="password">
        <label for="floatingPassword1">Password</label>
      </div>
    </div>
  </div>
  <div class="mb-3 row"> 
    <label class="col-sm-3">Comments</label>
    <div class="col-sm-9"> 
      <div class="form-floating">
        <textarea class="form-control" id="floatingTextarea2" placeholder="Leave a comment here" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>
    </div>
  </div>
  <div class="mb-3 row"> 
    <label class="col-sm-3">Open this select menu </label>
    <div class="col-sm-9"> 
      <div class="form-floating">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
          <option selected="">Open this select menu</option>
          <option value="1">I </option>
          <option value="2">II </option>
          <option value="3">III </option>
        </select>
        <label for="floatingSelect">Works with selects</label>
      </div>
    </div>
  </div>
