<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="gallery my-gallery card-body" itemscope="" gallerize>
                    <div class="row">
                        @for(img of galleryGridData; track img){
                        <figure class="col-xl-3 col-md-4 col-6 m-0 p-2" itemprop="associatedMedia">
                            <a href="javascript:void(0)" itemprop="contentUrl">
                                <img class="img-thumbnail" [src]="img.srcUrl" />
                            </a>
                        </figure>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>