<div class="page-wrapper">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-12">     
          <div class="login-card login-dark">
            <div>
              <div>
                <a class="logo" [routerLink]="['/dashboard/default']">
                    <img class="img-fluid for-dark" src="assets/images/logo/logo_Icon.png" alt="looginpage"
                    style="width: 200px;">
                   <img class="img-fluid for-light" src="assets/images/logo/logo_Icon.png" alt="looginpage"
                    style="width: 200px;">
            </a>
            </div>
              <div class="login-main"> 
                <form class="theme-form"  novalidate="novalidate" id="kt_new_password_form" (ngSubmit)="submit()"
                [formGroup]="resetPasswordForm" novalidate> 
                  <h4>Create Your Password</h4>
                  <div class="form-group">
                    <label class="col-form-label">New Password</label>
                    <div class="form-input position-relative">
                        <input class="form-control" 
                        type="password" name="login[password]"  formControlName="Password" required placeholder="password" [type]="show ? 'text' : 'password'">
                        @if(!show){
                          <div class="show-hide" (click)="showPassword()"><span class="show"> </span></div>
                        }@else{
                          <div class="show-hide" (click)="showPassword()"><span class="Hide"></span></div>
                        }
                        <div *ngIf="f['Password'].errors"
                        [hidden]="resetPasswordForm.controls['Password'].valid || resetPasswordForm.controls['Password'].untouched">
                        <small *ngIf="f['Password'].errors['required']" class="text-danger">Password is required</small>
                      
                      </div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Confirm Password</label>
                    <input class="form-control" type="password" name="login[password]"  formControlName="ConfirmPassword" [ngClass]="{
                        'is-invalid': resetPasswordForm.controls['ConfirmPassword'].invalid,
                        'is-valid': resetPasswordForm.controls['ConfirmPassword'].valid
                        }" 
                        >
                          <ng-container *ngIf="
                          resetPasswordForm.controls['ConfirmPassword'].errors &&
                          resetPasswordForm.controls['ConfirmPassword'].errors['ConfirmPassword']">
                          <div class="fv-plugins-message-container">
                              <div class="text-danger">'Passsword' and 'Confirm Password' didn't match.</div>
                          </div>
                      </ng-container>
                  </div>
                  <div class="form-group mb-0">
                    <button class="btn btn-primary btn-block w-100" type="submit">Save </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>