<div class="card height-equal">
    <div class="card-header">
        <h4>Badges as part buttons</h4>
        <p class="f-m-light mt-1"> <code>.badge</code> can be used as part of <code>.btn</code> to provide a icons.</p>
    </div>
    <div class="card-body">
        <div class="badge-spacing flex-column align-items-start">
            @for(badgesitem of buttonspartData; track badgesitem){
            <button class="btn btn-{{badgesitem.color}} d-flex align-items-center"
                type="button">{{badgesitem.text}}<span
                    class="badge rounded-circle btn-p-space badge-light text-dark ms-2">
                    <app-feathericon [icon]="badgesitem.icon"></app-feathericon>
                </span>
            </button>
            }
        </div>
    </div>
</div>