<div class="card">
    <div class="card-header">
      <h4>Default style</h4>
      <p class="f-m-light mt-1">
         This option is show by default you don't need to add any extra class.</p>
    </div>
    <div class="card-body megaoptions-border-space-sm">
      <form class="mega-inline">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="media p-20">
                <div class="form-check radio radio-primary m-0">
                  <input class="form-check-input" id="radio14" type="radio" name="radio1" value="option1">
                  <label class="form-check-label" for="radio14"><span class="media-body megaoption-space"><span class="mt-0 mega-title-badge">COD<span class="badge badge-primary pull-right digits">50 INR</span></span><span>Estimated 2 Day Shipping ( Duties end tax may be due delivery )</span></span></label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="media p-20">
                <div class="form-check radio radio-secondary m-0">
                  <input class="form-check-input" id="radio13" type="radio" name="radio1" value="option1">
                  <label class="form-check-label" for="radio13"><span class="media-body megaoption-space"><span class="mt-0 mega-title-badge">Fast<span class="badge badge-secondary pull-right digits">100 INR</span></span><span>Estimated 1 Day Shipping ( Duties end tax may be due delivery )</span></span></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer text-end">
      <button class="btn btn-primary m-r-15" type="submit">Submit</button>
      <button class="btn btn-light" type="submit">Cancel</button>
  </div>
</div>
