<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <app-simple-tabs></app-simple-tabs>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-icons-tabs></app-icons-tabs>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-vertical-tabs></app-vertical-tabs>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-pills-tabs></app-pills-tabs>
        </div>
        <div class="col-xl-6">
            <app-justify-tabs></app-justify-tabs>
        </div>
        <div class="col-xl-6">
            <app-material-style-left-tabs></app-material-style-left-tabs>
        </div>
        <div class="col-xl-6">
            <app-material-style-tabs></app-material-style-tabs>
        </div>
        <div class="col-xl-6">
            <app-border-tabs></app-border-tabs>
        </div>
    </div>
</div>
