<div class="container-fluid">
  <div id="print-section">
    <table style="width:1160px;margin:0 auto;">
      <tbody>
        <tr>
          <td> 
            <table style="width: 100%;">
              <tbody>
                <tr>
                  <td><img class="img-fluid for-light" src="assets/images/logo/logo_dark.png" alt="logo-light"><img class="img-fluid for-dark" src="assets/images/logo/logo.png" alt="logo-dark">
                    <address style="opacity: 0.8; width: 40%; margin-top: 10px; font-style:normal;"><span style="font-size: 18px; line-height: 1.5; font-weight: 500;">
                        1982 Harvest Lane New York, NY12210
                         United State </span></address>
                  </td>
                  <td style="opacity: 0.8; text-align:end;"><span style="display:block; line-height: 1.5; font-size:18px; font-weight:500;">Email : Riho&#64;themesforest.com</span><span style="display:block; line-height: 1.5; font-size:18px; font-weight:500;">Website: www.Rihothemes.com</span><span style="display:block; line-height: 1.5; font-size:18px; font-weight:500;">Contact No : (316) 555-0116</span></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <app-invoice2-top></app-invoice2-top>
          </td>
        </tr>
        <tr>
          <td>
            <table style="width: 100%;">
              <tbody>
                <tr style="padding: 28px 0; display:block;">
                  <td Style="width:63%;"><span style="opacity: 0.8; font-size: 16px; font-weight: 500;">BILLING
                      ADDRESS</span>
                    <h4 style="font-weight:400; margin: 12px 0 6px 0; font-size: 18px;">Brooklyn Simmons</h4><span
                      style="width: 54%; display:block; line-height: 1.5; opacity: 0.8; font-size: 18px; font-weight: 400;">2118
                      Thornridge Cir. Syracuse, Connecticut 35624, United State</span><span
                      style="line-height:2.6; opacity: 0.8; font-size: 18px; font-weight: 400;">Phone : (239)
                      555-0108</span>
                  </td>
                  <td><span style="opacity: 0.8;font-size: 16px; font-weight: 500;">SHIPPING ADDRESS</span>
                    <h4 style="font-weight:400; margin: 12px 0 6px 0; font-size: 18px;">Cameron Williamson</h4><span
                      style="width: 95%; display:block; line-height: 1.5; opacity: 0.8; font-size: 18px; font-weight: 400;">2972
                      Westheimer Rd. Santa Ana, Illinois 85486 </span><span
                      style="line-height:2.6; opacity: 0.8; font-size: 18px; font-weight: 400;">Phone : (219) 555-0114
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <app-invoice2-table></app-invoice2-table>
          </td>
        </tr>
        <tr>
          <td>
            <app-invoice2-total></app-invoice2-total>
          </td>
        </tr>
        <tr>
          <td> <span
              style="display:block;background: rgba(82, 82, 108, 0.3);height: 1px;width: 100%;margin-bottom:24px;"></span>
          </td>
        </tr>
        <tr>
          <td>
            <span style="display: flex; justify-content: end; gap: 15px;">
              <button type="button"
                style="background: #006666 ; color:rgba(255, 255, 255, 1); border-radius: 10px;padding: 18px 27px;font-size: 16px;font-weight: 600;outline: 0;border: 0; text-decoration: none;"
                printSectionId="print-section" ngxPrint>Print Invoice
                <i class="icon-arrow-right" style="font-size:13px;font-weight:bold; margin-left: 10px;"></i>
              </button>
              <a style="background: rgba(0, 102, 102, 0.2);color: #006666 ; border-radius: 10px;padding: 18px 27px;font-size: 16px;font-weight: 600;outline: 0;border: 0; text-decoration: none;"
                href="javascript:void(0);" download="">Download<i class="icon-arrow-right"
                  style="font-size:13px;font-weight:bold; margin-left: 10px;"></i></a></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>