<div class="card">
    <div class="card-header">
        <h4>Progress with number steps</h4>
        <p class="f-m-light mt-1">
            Use the <code>.position-absolute </code>to set progress numbers steps.</p>
    </div>
    <div class="card-body">
        <div class="position-relative m-3 progress-number">
            <div class="progress progress-wrapper">
                <div class="progress-bar" role="progressbar" aria-label="Progress" style="width: 50%;"
                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <button class="position-absolute top-0 start-0 translate-middle btn-sm btn-primary rounded-circle txt-light"
                type="button">1</button>
            <button
                class="position-absolute top-0 start-50 translate-middle btn-sm btn-primary rounded-circle txt-light"
                type="button">2</button>
            <button
                class="progress-btn position-absolute top-0 start-100 translate-middle btn-sm rounded-circle txt-dark"
                type="button">3</button>
        </div>
    </div>
</div>