<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-6 box-col-6">
            <app-area-chart1></app-area-chart1>
        </div>
        <div class="col-sm-12 col-xl-6 box-col-6">
            <app-area-chart2></app-area-chart2>
        </div>
        <div class="col-sm-12 col-xl-6 box-col-6">
            <app-column-chart1></app-column-chart1>
        </div>
        <div class="col-sm-12 col-xl-6 box-col-6">
            <app-column-chart2></app-column-chart2>
        </div>
        <div class="col-sm-12 box-col-12">
            <app-lines-chart></app-lines-chart>
        </div>
        <div class="col-sm-12 box-col-12">
            <app-combo-chart></app-combo-chart>
        </div>
        <div class="col-sm-12 box-col-12">
            <app-bar-chart2></app-bar-chart2>
        </div>
        <div class="col-sm-12 col-xl-6 box-col-12">
            <app-pie-chart1></app-pie-chart1>
        </div>
        <div class="col-sm-12 col-xl-6 box-col-12">
            <app-pie-chart2></app-pie-chart2>
        </div>
        <div class="col-sm-12 col-xl-6 box-col-12">
            <app-pie-chart3></app-pie-chart3>
        </div>
        <div class="col-sm-12 col-xl-6 box-col-12">
            <app-pie-chart4></app-pie-chart4>
        </div>
    </div>
</div>
