<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-live-toast></app-live-toast>
        </div>
        <div class="col-md-6">
            <app-colors-schemes-toasts></app-colors-schemes-toasts>
        </div>
        <div class="col-md-6">
            <app-stacking-toasts></app-stacking-toasts>
        </div>
        <div class="col-md-6">
            <app-translucent-toasts></app-translucent-toasts>
        </div>
        <div class="col-md-6">
            <app-default-toasts></app-default-toasts>
        </div>
        <div class="col-md-6">
            <app-unique-toast></app-unique-toast>
        </div>
    </div>
</div>