<ng-template #editBookmarkModal let-modal>
    <div class="modal-header">
        <h3 class="modal-title">Edit Bookmark</h3>
        <button class="btn-close" type="button" (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
        <form class="form-bookmark needs-validation" novalidate="">
         @for(bookmarkDetails of bookmarkDetails; track bookmarkDetails){
            <div class="row g-2">
                <div class="mb-3 mt-0 col-md-12">
                    <label>Web Url</label>
                    <input class="form-control" id="editurl" type="text" required="" autocomplete="off"
                        value="{{ bookmarkDetails.url }}">
                </div>
                <div class="mb-3 mt-0 col-md-12">
                    <label>Title</label>
                    <input class="form-control" id="edittitle" type="text" required="" autocomplete="off"
                        value="{{ bookmarkDetails.title }}">
                </div>
                <div class="mb-3 mt-0 col-md-12">
                    <label>Description</label>
                    <textarea class="form-control" id="editdesc" required=""
                        autocomplete="off">{{ bookmarkDetails.desc }}</textarea>
                </div>
                <div class="mb-3 mt-0 col-md-6">
                    <label>Group</label>
                    <select class="js-example-basic-single form-control">
                        <option value="AL">My Bookmarks</option>
                    </select>
                </div>
                <div class="mb-3 mt-0 col-md-6">
                    <label>Collection</label>
                    <select class="js-example-disabled-results form-control">
                        <option value="general">General</option>
                        <option value="fs">fs</option>
                    </select>
                </div>
            </div>
        }
            <button class="btn btn-secondary" type="button">Save</button>
            <button class="btn btn-primary" type="button" (click)="modal.close()">Cancel </button>
        </form>
    </div>
</ng-template>
