<div class="card">
    <div class="card-header">
        <h4>Turn over</h4>
    </div>
    <div class="card-body">
        <div class="chart-container">
            <div class="row">
                <div class="col-12">
                    <div id="chart-widget7">
                        <apx-chart [series]="TurnOverChart.series" [chart]="TurnOverChart.chart"
                            [dataLabels]="TurnOverChart.dataLabels" [grid]="TurnOverChart.grid"
                            [stroke]="TurnOverChart.stroke" [fill]="TurnOverChart.fill" [xaxis]="TurnOverChart.xaxis"
                            [yaxis]="TurnOverChart.yaxis" [tooltip]="TurnOverChart.tooltip"
                            [colors]="TurnOverChart.colors">
                        </apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>