<div class="card">
    <div class="card-header">
      <h4>Variation Timeline </h4>
      <p class="f-m-light mt-1">
         Use the <code>.activity-dot-primary </code>through rounded animations.</p>
    </div>
    <div class="card-body dark-timeline">
      <ul> 
        <li class="d-flex">
          <div class="activity-dot-primary"></div>
          <div class="w-100 ms-3">
            <p class="d-flex justify-content-between mb-2"><span class="date-content light-background txt-dark">8th March, 2022 </span><span>1 day ago</span></p>
            <h6>Updated Product<span class="dot-notification"></span></h6>
            <p class="f-light">Quisque a consequat ante sit amet magna...</p>
          </div>
        </li>
        <li class="d-flex">
          <div class="activity-dot-warning"></div>
          <div class="w-100 ms-3">
            <p class="d-flex justify-content-between mb-2"><span class="date-content light-background txt-dark">5th Feb, 2024 </span><span>Today</span></p>
            <h6>Added Bew Items<span class="dot-notification"></span></h6><span class="f-light">Quisque a consequat ante sit amet magna...</span>
            <div class="recent-images"> 
              <ul> 
                <li> 
                  <div class="recent-img-wrap"><img src="assets/images/dashboard-2/product/1.png" alt="chair"></div>
                </li>
                <li> 
                  <div class="recent-img-wrap"><img src="assets/images/dashboard-2/product/2.png" alt="chair"></div>
                </li>
                <li> 
                  <div class="recent-img-wrap"><img src="assets/images/dashboard-2/product/3.png" alt="men t-shirt"></div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="d-flex pb-0">
          <div class="activity-dot-secondary"></div>
          <div class="w-100 ms-3">
            <p class="d-flex justify-content-between mb-2"><span class="date-content light-background txt-dark">20th Sep, 2022 </span><span>12:00 PM</span></p>
            <h6>Tello just like your product<span class="dot-notification"></span></h6>
            <p>Quisque a consequat ante sit amet magna...</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
