<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-basic-tooltip></app-basic-tooltip>
        </div>
        <div class="col-md-6">
            <app-colored-tooltip></app-colored-tooltip>
        </div>
        <div class="col-md-6">
            <app-tooltip-directions></app-tooltip-directions>
        </div>
        <div class="col-md-6">
            <app-html-elements-hover-effect></app-html-elements-hover-effect>
        </div>
        <div class="col-md-6">
            <app-filled-tooltip></app-filled-tooltip>
        </div>
    </div>
</div>
