<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12">
            <app-basic-example></app-basic-example>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12">
            <app-title-text-alert></app-title-text-alert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12">
            <app-info-alert></app-info-alert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12">
            <app-warning-alert></app-warning-alert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12">
            <app-pickachu-alert></app-pickachu-alert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12">
            <app-questions-alert></app-questions-alert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12">
            <app-username-alert></app-username-alert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12">
            <app-success-alert></app-success-alert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12">
            <app-danger-alert></app-danger-alert>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12">
            <app-warning-mode></app-warning-mode>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12">
            <app-auto-close-timer></app-auto-close-timer>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6 col-12">
            <app-ajax-request-movie> </app-ajax-request-movie>
        </div>
    </div>
</div>
