<div class="card height-equal">
    <div class="card-header">
        <h4>Unique Toast</h4>
        <p class="f-m-light mt-1">
            Use the <code>.hide </code>class through hide toast and <code>.show </code>class through visible toast.</p>
    </div>
    <div class="card-body toast-rtl">
        <div class="toast fade" role="alert" [ngClass]="Unique ? 'show':'hide'">
            <div class="toast-header toast-img"><img class="rounded me-2" src="assets/images/dashboard-3/profile.png"
                    alt="profile">
                <strong class="me-auto">Riho Theme</strong>
                <button class="btn-close" type="button" (click)="close()"></button>
            </div>
            <div class="toast-body toast-dark">
                <h6 class="mb-2">Your account will be permanently deleted?</h6>
                <p class="mb-0">Do you intend to continue?</p>
                <div class="mt-2 pt-2 border-top d-flex gap-2">
                    <button class="btn btn-dark btn-sm" type="button">I'm not sure</button>
                    <button class="btn btn-danger btn-sm" type="button" (click)="close()">Remove My
                        Account</button>
                </div>
            </div>
        </div>
    </div>
</div>