<div class="container-fluid">
    <div class="row size-column">
        <div class="col-xxl-9 box-col-12">
            <div class="row">
                <app-top-ecommerce-card></app-top-ecommerce-card>
                <div class="col-md-6">
                    <app-project-statistics></app-project-statistics>
                </div>
                <div class="col-md-6">
                    <app-today-work></app-today-work>
                </div>
                <div class="col-xl-12">
                    <app-important-project-list></app-important-project-list>
                </div>
                <div class="col-xxl-12">
                    <app-all-project-table></app-all-project-table>
                </div>
                <div class="col-xl-5 box-col-6">
                    <app-top-client-list></app-top-client-list>
                </div>
                <div class="col-xl-7 box-col-6">
                    <app-calendar></app-calendar>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 d-xxl-block d-none activity-group box-col-none">
            <app-add-project-card></app-add-project-card>
            <div class="row">
                <div class="col-xl-12">
                    <app-activity-log></app-activity-log>
                </div>
                <div class="col-xl-12 col-md-6">
                    <app-message></app-message>
                </div>
                <div class="col-xl-12 col-md-6">
                    <app-project-ideas-card></app-project-ideas-card>
                </div>
            </div>
        </div>
    </div>
</div>