<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 box-col-6 notification main-timeline">
            <app-basic-timeline></app-basic-timeline>
        </div>
        <div class="col-xl-6">
            <app-hovering-timeline></app-hovering-timeline>
        </div>
        <div class="col-xxl-4 col-xl-5 notification box-col-12">
            <app-variation-timeline></app-variation-timeline>
        </div>
        <div class="col-xxl-8 col-xl-7 box-col-12">
            <app-horizontal-timeline></app-horizontal-timeline>
        </div>
        <div class="col-sm-12 box-col-12">
            <app-timeline-chart></app-timeline-chart>
        </div>
    </div>
</div>