<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-custom-switch></app-custom-switch>
        </div>
        <div class="col-xl-4 col-sm-6">
            <app-icons-switch></app-icons-switch>
        </div>
        <div class="col-xl-4 col-sm-6">
            <app-unchecked-switch></app-unchecked-switch>
        </div>
        <div class="col-xl-4">
            <app-borders-with-icons></app-borders-with-icons>
        </div>
        <div class="col-md-6">
            <app-disabled-outline-switch></app-disabled-outline-switch>
        </div>
        <div class="col-md-6">
            <app-variation-switches></app-variation-switches>
        </div>
        <div class="col-md-12">
            <app-switch-sizing></app-switch-sizing>
        </div>
        <div class="col-md-12">
            <app-swihch-with-iocns></app-swihch-with-iocns>
        </div>
    </div>
</div>