<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
            <app-advanced-smil></app-advanced-smil>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
            <app-svg-path></app-svg-path>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
            <app-dount-svg-animate></app-dount-svg-animate>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
            <app-bi-polar-line-chart-area></app-bi-polar-line-chart-area>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
            <app-line-chart-area></app-line-chart-area>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
            <app-bi-polar-bar-chart></app-bi-polar-bar-chart>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
            <app-stacked-bar-chart></app-stacked-bar-chart>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
            <app-horizontal-bar-chart></app-horizontal-bar-chart>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
            <app-extreme-responsive-configantion></app-extreme-responsive-configantion>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
            <app-simple-line-chart></app-simple-line-chart>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
            <app-holes-in-data></app-holes-in-data>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
            <app-filled-holes-in-data></app-filled-holes-in-data>
        </div>
    </div>
</div>