<div class="card">
    <div class="card-header">
        <h4>HTML elements with hover effect</h4>
        <p class="f-m-light mt-1">
           Use the <code>bg-*-light</code> to change light background color and <code>data-bs-title </code> to the content under the HTML tag.</p>
    </div>
    <div class="card-body">
        <div class="common-flex">
            <button class="btn bg-primary mb-0 me-0" type="button" data-bs-html="true" placement="top"
                ngbTooltip="Thank you">Notifications
                Received</button>
            <button class="btn bg-warning mb-0 me-0" type="button" placement="top" data-bs-html="true"
                ngbTooltip="Thank you">Last Warning</button>
            <button class="btn bg-danger mb-0 me-0" type="button" placement="top" data-bs-html="true"
                ngbTooltip="Thank you">It's Danger</button>
            <button class="btn bg-info mb-0 me-0" type="button" placement="top" data-bs-html="true"
                ngbTooltip="Thank you">Coming soon</button>
        </div>
    </div>
</div>