<div class="card">
    <div class="card-header">
      <h4>Lists with radios</h4>
      <p class="f-m-light mt-1">
         Use the <code>.form-check-input </code>to check your radio buttons.</p>
    </div>
    <div class="card-body"> 
      <ul class="list-group">
        <li class="list-group-item">
          <input class="form-check-input me-1 active checkbox-danger" id="firstRadio" type="radio" name="listGroupRadio" value="" checked="">
          <label class="form-check-label mb-0" for="firstRadio">Meditations</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1 checkbox-primary" id="secondRadio" type="radio" name="listGroupRadio" value="">
          <label class="form-check-label mb-0" for="secondRadio">Read a book</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1 checkbox-success" id="thirdRadio" type="radio" name="listGroupRadio" value="">
          <label class="form-check-label mb-0" for="thirdRadio">Learn to code </label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1 checkbox-info" id="fourRadio" type="radio" name="listGroupRadio" value="">
          <label class="form-check-label mb-0" for="fourRadio">Drink more water</label>
        </li>
      </ul>
    </div>
  </div>
