<div class="card">
    <div class="card-header">
        <h4>Popover offset </h4>
        <p class="f-m-light mt-1">
           Use the<code> data-bs-offset="*,*"</code> through popover offset above buttons. </p>
    </div>
    <div class="card-body common-flex popover-wrapper">
        <button class="btn btn-secondary mb-0 me-0" type="button" offset="50,0" show="5000" popoverTitle="Popover title"
            ngbPopover="And here's some amazing content. It's very engaging. Right?" data-kt-initialized="1"
            placement="end">Popover
            offset 50</button>
        <button class="example-popover btn btn-success mb-0 me-0" type="button" offset="-50,0" data-container="body"
            placement="start" popoverTitle="Popover On Left" ngbPopover="Popovers are opt-in for effectiveness causes, in this way you have to initialize them
             yourself.">Popover
            offset -50
        </button>
    </div>
</div>
