<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-default-checkbox></app-default-checkbox>
        </div>
        <div class="col-12">
            <app-custom-checkbox></app-custom-checkbox>
        </div>
        <div class="col-12">
            <app-default-radio></app-default-radio>
        </div>
        <div class="col-12">
            <app-images-checkbox></app-images-checkbox>
        </div>
        <div class="col-12">
            <app-images-radio></app-images-radio>
        </div>
        <div class="col-12">
            <app-custom-radio></app-custom-radio>
        </div>
        <div class="col-12">
            <app-default-switches></app-default-switches>
        </div>
        <div class="col-12">
            <app-inline-input-types></app-inline-input-types>
        </div>
        <div class="col-xl-6">
            <app-animated-buttons></app-animated-buttons>
        </div>
        <div class="col-xl-6">
            <app-basic-radio-checkbox></app-basic-radio-checkbox>
        </div>
        <div class="col-md-6">
            <app-radio-toggle-buttons></app-radio-toggle-buttons>
        </div>
        <div class="col-md-6">
            <app-outlined-checkbox-styles></app-outlined-checkbox-styles>
        </div>
    </div>
</div>