<div class="card height-equal">
    <div class="card-header pb-0">
        <h3>Cross-Fade</h3>
        <p class="f-m-light mt-1">Add <code>.carousel-fade</code> to your carousel to animate slides with a fade
            transition
            instead of a slide. Depending on your carousel content, you may want to add<code> .bg-body</code> or some
            custom
            CSS to the .carousel-items for proper cross-fading.</p>
    </div>
    <div class="card-body">
        <owl-carousel-o [options]="fadeoptionsData" class="carousel slide" id="carouselExampleSlidesOnly">
            @for(fadeItem of crossfadeData; track fadeItem){
            <ng-template carouselSlide class="carousel-inner">
                <div class="carousel-inner">
                    <div class="carousel-item active"><img class="d-block w-100" src="{{fadeItem.img}}"
                            alt="drawing-room">
                    </div>
                </div>
            </ng-template>
            }
        </owl-carousel-o>
    </div>
</div>