<div class="container-fluid">
    <div class="bootstrap-touchspin">
        <div class="row">
            <div class="col-xl-6">
                <app-default-touchspin></app-default-touchspin>
            </div>
            <div class="col-xl-6">
                <app-outlined-touchspin></app-outlined-touchspin>
            </div>
            <div class="col-xl-6">
                <app-icons-with-prefix-postfix></app-icons-with-prefix-postfix>
            </div>
            <div class="col-xl-6">
                <app-buttons-with-prefix-postfix></app-buttons-with-prefix-postfix>
            </div>
            <div class="col-xl-12">
                <app-rounded-touchspin></app-rounded-touchspin>
            </div>
        </div>
    </div>
</div>