<div class="card">
    <div class="card-header">
        <h4>Popover direction</h4>
        <p class="f-m-light mt-1">
           Use the<code> data-bs-toggle='popover'</code>through popover directions above buttons. </p>
    </div>
    <div class="card-body common-flex popover-wrapper">
        <button class="example-popover btn btn-warning mb-0 me-0" type="button" data-container="body" placement="top"
            popoverTitle="Popover On Top"
            ngbPopover="Popovers need the tooltip plugin considering that a dependency.">Popover
            on top</button>
        <button class="example-popover btn btn-danger mb-0 me-0" type="button" data-container="body" placement="end"
            popoverTitle="Popover On Right" ngbPopover="Popovers are opt-in for effectiveness causes, in this way you have to initialize them
      yourself.">Popover
            on right</button>
        <button class="example-popover btn btn-info mb-0 me-0" type="button" data-container="body" placement="bottom"
            popoverTitle="Popover On Bottom" ngbPopover="Identify container:to evade rendering problems in more complex components (like Bootstrap input
      groups, button groups, etc).">Popover
            on bottom</button>
        <button class="example-popover btn btn-dark mb-0 me-0" type="button" data-container="body" placement="start"
            popoverTitle="Popover On Left" ngbPopover="Popovers are opt-in for effectiveness causes, in this way you have to initialize them
     yourself.">Popover
            on left</button>
    </div>
</div>
