<div class="small-chart-widget chart-widgets-small">
    <div class="card">
        <div class="card-header">
            <h4>Live Products</h4>
        </div>
        <div class="card-body">
            <div class="chart-container">
                <div class="row">
                    <div class="col-12">
                        <div id="chart-widget6">
                            <apx-chart [series]="LiveProductChart.series" [chart]="LiveProductChart.chart"
                            [grid]="LiveProductChart.grid" [stroke]="LiveProductChart.stroke" [markers]="LiveProductChart.markers"
                            [xaxis]="LiveProductChart.xaxis" [yaxis]="LiveProductChart.yaxis" [fill]="LiveProductChart.fill"
                            [tooltip]="LiveProductChart.tooltip" [labels]="LiveProductChart.labels"
                            [dataLabels]="LiveProductChart.dataLabels" [colors]="LiveProductChart.colors">
                          </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>