<div class="container-fluid credit-card">
    <div class="row">
        <div class="col-xl-8 box-col-80">
            <app-credit-card></app-credit-card>
        </div>
        <div class="col-xl-4 col-lg-6 box-col-33 debit-card">
            <app-debit-card></app-debit-card>
        </div>
        <div class="col-xl-4 col-lg-6 box-col-33">
            <app-cod> </app-cod>
        </div>
        <div class="col-xl-4 col-lg-6 box-col-33">
            <app-emi></app-emi>
        </div>
        <div class="col-xl-4 col-lg-6 box-col-33">
            <app-net-banking></app-net-banking>
        </div>
    </div>
</div>
