<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-default-pagination></app-default-pagination>
        </div>
        <div class="col-md-6">
            <app-active-disabled-pagination></app-active-disabled-pagination>
        </div>
        <div class="col-md-6">
            <app-icons-pagination></app-icons-pagination>
        </div>
        <div class="col-md-6">
            <app-rounded-pagination></app-rounded-pagination>
        </div>
        <div class="col-xxl-6">
            <app-alignment-pagination></app-alignment-pagination>
        </div>
        <div class="col-xxl-6">
            <app-sizing-pagination></app-sizing-pagination>
        </div>
    </div>
</div>
