<div class="cd-timeline-img cd-location bg-secondary">
    <i class="icon-pin-alt"></i>
</div>
<div class="cd-timeline-content">
  <div class="timeline-wrapper">
    <div class="badge bg-success">Meet-up</div>
  </div>
  <h5 class="f-w-500 m-0">Web-designer's meet-up</h5>
  <p class="mb-0">
      Find nearby web designers to network with! A Web Design Meetup is a place where you can discuss tools.                        </p>
  <div class="time-content pt-2"><i class="icon-android"></i>
    <h6>Please! Meet-up</h6>
  </div><span class="cd-date">November 04 2022</span>
</div>