<div class="card">
    <div class="job-search">
        <div class="card-body pb-0">
            <div class="d-flex"><img class="img-40 img-fluid m-r-20" src="assets/images/job-search/1.jpg" alt="">
                <div class="flex-grow-1">
                    <h6 class="f-w-600"><a href="javascript:void(0);">UI Designer</a>
                        <span class="pull-right">
                            <button class="btn btn-primary" type="button">
                                <span>
                                    <i class="fa fa-check text-white"></i>
                                </span> Save this job</button>
                        </span>
                    </h6> 
                    <p>Endless Telecom & Technologies , NY
                        <i class="fa fa-star font-warning"></i>
                        <i class="fa fa-star font-warning"></i>
                        <i class="fa fa-star font-warning"></i>
                        <i class="fa fa-star font-warning"></i>
                        <i class="fa fa-star font-warning"></i>
                    </p>
                </div>
            </div>
            <div class="job-description">
                <h6 class="mb-0">Personal Details </h6>
                <app-personal-details></app-personal-details>
                <h6 class="mb-0">Your Education</h6>
                <app-your-education></app-your-education>
                <h6 class="mb-0">Your Experience</h6> 
                <app-your-exprience></app-your-exprience>
                <h6 class="mb-0">Upload Your Files</h6>
                <app-upload-files></app-upload-files>
            </div>
        </div> 
        <div class="card-footer d-flex gap-2">
            <button class="btn btn-primary" type="submit">Submit</button>
            <input class="btn btn-light" type="reset" value="Cancel">
        </div>
    </div>
</div>