<div class="card">
    <div class="card-header">
      <h4>With icons accordion</h4>
      <p class="f-m-light mt-1">Use the <code>.accordion </code>& <code>feather icons</code> through change look icons accordion.</p>
    </div>
    <div class="card-body">
        <div class="accordion dark-accordion" id="simpleaccordion" ngbAccordion [closeOthers]="true">
            @for(accordionitem of  iconaccordionData; track accordionitem){
            <div class="accordion-item" ngbAccordionItem>
                <h2 ngbAccordionHeader class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed gap-2 bg-light-secondary active txt-secondary"
                        type="button" ngbAccordionButton>
                        <app-feathericon [icon]="accordionitem.icon" class="svg-wrapper"></app-feathericon>
                        {{accordionitem.title}}
                        <app-feathericon [icon]="'chevron-down'" class="svg-color"></app-feathericon>
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne"
                    data-bs-parent="#simpleaccordion" ngbAccordionCollapse>
                    <div class="accordion-body" ngbAccordionBody>
                        <ng-template>
                            <p [innerHTML]="accordionitem.text"></p>
                        </ng-template>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</div>