<!-- <p>verify-account works!</p> -->
<!--begin::Main-->
<!--begin::Root-->
<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card login-dark">
                <div>
                    <div>
                        
                        <a class="logo" [routerLink]="['/dashboard/default']">
                            <img class="img-fluid for-dark" src="assets/images/logo/logo_Icon.png" alt="looginpage"
                                style="width: 200px;">
                            <img class="img-fluid for-light" src="assets/images/logo/logo_Icon.png" alt="looginpage"
                                style="width: 200px;">
                        </a>


                        <div class="login-main verification">
                            

                      <h1 class="fw-bolder fs-4 text-gray-800  mt-0" style="margin-bottom:20px">Verify Your Account</h1>
    
                      <div class="pt-lg-10 mb-10">
                       
                        <div class="fs-5">
                          We have sent an email to
                          <br>

                          <a href="javascript:void(0)" class=" fs-5 link-primary ">{{ email }}</a>
                          <br />pelase follow a link to verify your email.
                        </div>
                        <!--end::Message-->
                        <!--begin::Action-->
                        <div class="" style="margin-top: 70px;">
                          <a href="javascript:void(0)" class="btn btn-lg btn-primary " (click)="VerifyYourAccount()">Verify
                            Your Account</a>
                        </div>
                        <!--end::Action-->
                        <!--begin::Action-->
                        <div class="fs-6 ">
                                                      <span class="">Didn't receive an email?</span>
                          

                          <a href="javascript:void(0)" class=" fs-5 link-primary " (click)="ResendEmail()">   Resend </a>
                        </div>
                        <!--end::Action-->
                      </div>

                    </div>
                    <!-- <div class="login-main">
                        
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>












<!-- <div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-column-fluid">
      <div class="d-flex flex-column flex-column-fluid text-center p-10 py-lg-15">
        <a href="javascript:void(0)" class="mb-10 pt-lg-10">
          <img alt="Logo" src="assets/media/logos/logo.png" class="h-40px mb-5" />
        </a>
        
        <div
          class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px"
          style="background-image: url(../../../assets/media/illustrations/sigma-1/17.png)"></div>
     
      </div>
    
    </div>
   
  </div>
  -->
