<div class="card">
    <div class="card-header">
        <h4>Custom content lists</h4>
        <p class="f-m-light mt-1">Use the <code>.list-group-item</code> through make custom design of all lists.</p>
    </div>
    <div class="list-group main-lists-content">
        @for(customcontantitem of customcontentData; track customcontantitem){
        <a class="list-group-item list-group-item-action {{customcontantitem.class}}" href="javascript:void(0)">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <div class="list-wrapper">
                    <img class="list-img" src="{{customcontantitem.img}}" alt="profile">
                    <div class="list-content">
                        <h4>{{customcontantitem.name}}</h4>
                        <p>{{customcontantitem.email}}</p>
                    </div>
                </div><small>{{customcontantitem.time}}</small>
            </div>
            <p class="mb-1">{{customcontantitem.contant}}</p>
            <small>{{customcontantitem.follwer}}</small>
        </a>
        }
    </div>
</div>