<div class="card height-equal">
    <div class="card-header">
        <h4>Vertical</h4><span>Make vertical buttons</span>
    </div>
    <div class="card-body btn-group-wrapper">
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <button class="btn btn-primary" type="button">Button</button>
            <button class="btn btn-secondary" type="button">Button</button>
            <div class="btn-group" role="group" ngbDropdown>
                <button class="btn btn-success dropdown-toggle" id="btnGroupVerticalDrop1" type="button"
                    ngbDropdownToggle>Dropdown</button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Dropdown link</a>
                    <a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Dropdown link</a>
                </div>
            </div>
            <button class="btn btn-info" type="button">Button</button>
            <button class="btn btn-warning" type="button">Button</button>
            <div class="btn-group" role="group" ngbDropdown>
                <button class="btn btn-danger dropdown-toggle" id="btnGroupVerticalDrop2" type="button" ngbDropdownToggle>Dropdown</button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Dropdown link</a>
                    <a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Dropdown link</a>
                </div>
            </div>
            <div class="btn-group" role="group" ngbDropdown>
                <button class="btn btn-light dropdown-toggle txt-dark" id="btnGroupVerticalDrop3" type="button"
                    ngbDropdownToggle>Dropdown</button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Dropdown link</a>
                        <a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Dropdown link</a>
                </div>
            </div>
        </div>
    </div>
</div>