<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <app-default-range-slider></app-default-range-slider>
        </div>
        <div class="col-lg-6">
            <app-min-max-slider></app-min-max-slider>
        </div>
        <div class="col-lg-6">
            <app-custom-values></app-custom-values>
        </div>
        <div class="col-lg-6">
            <app-prettify-number></app-prettify-number>
        </div>
        <div class="col-lg-6">
            <app-disabled></app-disabled>
        </div>
    </div>
</div>
