<div class="card">
  <div class="card-header">
    <h4>Offer style border</h4>
    <p class="f-m-light mt-1">
      Use the <code>.offer-style </code>class to<code> .mega-inline</code> you can archive this style.</p>
  </div>
  <div class="card-body megaoptions-border-space-sm">
    <form class="mega-inline offer-style">
      <div class="row flex-column">
        <div class="col-12">
          <div class="card">
            <div class="media p-20">
              <div class="form-check checkbox checkbox-success">
                <input class="form-check-input" id="checkbox50" type="checkbox">
                <label class="form-check-label my-0" for="checkbox50">
                  <span class="media-body">
                    <span class="d-flex list-behavior-1">
                      <span class="flex-shrink-0">
                        <img class="tab-img img-fluid" src="assets/images/email-template/11.jpg" alt="fruits"></span>
                         <span class="flex-grow-1"><span class="mb-0">Fruits are an essential part of a healthy diet, and
                          offer many health benefits. They're packed with vitamins, minerals, and fiber, which can help
                          improve digestion.
                        </span>
                      </span>
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="media p-20">
              <div class="form-check checkbox checkbox-danger">
                <input class="form-check-input" id="checkbox101" type="checkbox" checked="">
                <label class="form-check-label my-0" for="checkbox101"><span class="media-body">
                    <span class="d-flex list-behavior-1">
                      <span class="flex-shrink-0">
                        <img class="tab-img img-fluid" src="assets/images/email-template/10.jpg"
                          alt="flowers"></span>
                      <span class="flex-grow-1">
                        <span class="mb-0">Flowers have long been used to express feelings and sentiments, and each
                          bloom has its own distinct significance. For instance, while daisies signify innocence and
                          purity.</span>
                      </span>
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer text-end">
    <button class="btn btn-success m-r-15" type="submit">Submit</button>
    <button class="btn list-light-success" type="submit">Cancel</button>
  </div>
</div>