<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-common-progress-bar [data]="basicData"></app-common-progress-bar>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <app-common-progress-bar [data]="progressStripedData"></app-common-progress-bar>
            </div>
            <div class="col-xl-6">
                <app-common-progress-bar [data]="progressAnimatedData"></app-common-progress-bar>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <app-multiple-bars></app-multiple-bars>
            </div>
            <div class="col-xl-6">
                <app-progress-number-steps></app-progress-number-steps>
            </div>
        </div>
        <app-custom-progress-bars></app-custom-progress-bars>
        <div class="row">
            <div class="col-xl-6">
                <app-small-progress-bars></app-small-progress-bars>
            </div>
            <div class="col-xl-6">
                <app-large-progress-bars></app-large-progress-bars>
            </div>
        </div>
        <app-custom-height-progress-bars></app-custom-height-progress-bars>
    </div>
</div>
