<div class="card height-equal">
    <div class="card-header">
      <h4>Default Breadcrumb</h4>
      <p class="f-m-light mt-1">You can set breadcrumb using <code>.breadcrumb </code> class.</p>
    </div>
    <div class="card-body">
      <nav class="breadcrumb"><a class="breadcrumb-item" href="javascript:void(0)">Home</a><span class="breadcrumb-item active">Ui Kits</span></nav>
      <nav class="breadcrumb m-0"><a class="breadcrumb-item" href="javascript:void(0)">Home</a><a class="breadcrumb-item" href="javascript:void(0)">Ui Kits</a><span class="breadcrumb-item active">Alert</span></nav>
    </div>
  </div>
