<div class="card">
    <div class="card-header pb-0">
      <h3>Select on exact</h3>
      <p>
        A typeahead with <code>[selectOnExact]</code> example that selects the item when it is the only one that matches
        the user input
      </p>
    </div>
    <div class="card-body">
      <div class="mb-3 row">
        <div class="col">
          <input id="typeahead-template" type="text" class="form-control col" placeholder="Countries" [(ngModel)]="model"
            [ngbTypeahead]="search" [inputFormatter]="formatter" [resultFormatter]="formatter" [selectOnExact]="true" />
        </div>
      </div>
    </div>
  </div>
