<div class="card">
    <div class="card-header">
        <h4>Outline Custom button group</h4>
    </div>
    <div class="card-body btn-group-showcase">
        <div class="row">
            @for(outlineitem of CustomOutlineData; track outlineitem){
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="btn-group btn-group-pill">
                    @for( buttonsitem of outlineitem.item; track buttonsitem){
                    <button class="btn {{buttonsitem.class}}" type="button">{{buttonsitem.text}}</button>
                    }
                </div>
            </div>
            }
        </div>
    </div>
</div>