<div class="card">
    <div class="card-header">
      <h4 class="mb-0">Listing typography</h4>
      <p class="f-m-light mt-1">All typography list:- <code>&lt;ul&gt;</code>,<code>&lt;ol&gt;</code> &amp; <code>&lt;dl&gt;</code></p>
    </div>
    <div class="card-body">
      <div class="row g-3">
        <div class="col-md-6 col-xxl-4">
          <div class="card-wrapper border rounded-3">
            <h6 class="sub-title fw-bold">Unorder list</h6>
            <ul>
              <li>One who looks on the bright side of things</li>
              <li>One who does something not professionally but for pleasure</li>
              <li>A person who knows everything</li>
              <li>A handwriting that cannot be read</li>
              <li>One who looks on the bright side of things</li>
              <li>A sound that cannot be heard</li>
              <li>The study of ancient writing and scriptures</li>
              <li>The study of rocks and soil</li>
              <li>creates more sophisticated capabilities for a web page to use coding language.</li>
              <li>Maintaining contact and communicating clearly are also essential. possess abilities for a designer</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-xxl-4">
          <div class="card-wrapper border rounded-3 h-100">
            <h6 class="sub-title fw-bold">Order list</h6>
            <ol>
              <li>UI Kits</li>
              <li>Bonus Ui</li>
              <li>Animations</li>
              <li>
                <ol>
                  <li>Typography</li>
                  <li>Avatars</li>
                  <li>Grid</li>
                  <li>Tag & pills</li>
                  <li>Alert</li>
                </ol>
              </li>
              <li>Dropdown</li>
              <li>Tabs</li>
              <li>Accordion</li>
            </ol>
          </div>
        </div>
        <div class="col-md-12 col-xxl-4">
          <div class="card-wrapper border rounded-3">
            <h6 class="sub-title fw-bold">Description list</h6>
            <dl>
              <dt>The way to get started is to quit talking and begin doing.</dt>
              <dd>-Walt Disney</dd>
              <dt>Life is what happens when you're busy making other plans.</dt>
              <dd>-John Lennon</dd>
              <dt>Whoever is happy will make others happy too. </dt>
              <dd>-Anne Frank</dd>
              <dt>Life is either a daring adventure or nothing at all.</dt>
              <dd>-Helen Keller</dd>
              <dt>The purpose of our lives is to be happy.</dt>
              <dd class="mb-0">-Dalai Lama</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
