<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <app-dark-theme-alert></app-dark-theme-alert>
        </div>
        <div class="col-xl-12">
            <app-light-theme-alert></app-light-theme-alert>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-outline-dark-light-alerts></app-outline-dark-light-alerts>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-icon-text-alerts></app-icon-text-alerts>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-dismissing-dark-alert></app-dismissing-dark-alert>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-dismissing-light-alert></app-dismissing-light-alert>
        </div>
        <div class="col-xl-6">
            <app-live-alert></app-live-alert>
        </div>
        <div class="col-xl-6">
            <app-left-border-alert></app-left-border-alert>
        </div>
        <div class="col-sm-12">
            <app-additional-content></app-additional-content>
        </div>
    </div>
</div>
