<table style="width: 100%; border-spacing:0;">
  <thead>
    <tr style="background: #006666;">
      <th style="padding: 18px 15px;text-align: center; position: relative; border-top-left-radius: 10px;">
        <span style="color: #fff; font-size: 18px; font-weight: 600;">No.</span>
      </th>
      <th style="padding: 18px 16px;text-align: left;"><span style="color: #fff; font-size: 18px; font-weight: 600;">Description</span></th>
      <th style="padding: 18px 15px;text-align: center"><span style="color: #fff; font-size: 18px; font-weight: 600;">Unite Price</span></th>
      <th style="padding: 18px 15px;text-align: center"><span style="color: #fff; font-size: 18px; font-weight: 600;">Quantity</span></th>
      <th style="padding: 18px 15px;text-align: center;position: relative; border-top-right-radius: 10px;"><span style="color: #fff; font-size: 18px; font-weight: 600;">Subtotal</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="width: 12%; text-align: center; border-bottom: 1px solid rgba(82, 82, 108, 0.2);"> <span
          style="font-weight: 600;">1</span></td>
      <td style="padding: 16px; border-bottom: 1px solid rgba(82, 82, 108, 0.2);">
        <h4 style="font-weight:600; margin:4px 0px; font-size: 18px; ">Proposal & Brochure Design</h4><span
          style="opacity: 0.8; font-size: 16px;">Regular License</span>
      </td>
      <td style="width: 12%; text-align: center;border-bottom: 1px solid rgba(82, 82, 108, 0.2);"><span>$300.00</span></td>
      <td style="width: 12%; text-align: center; border-bottom: 1px solid rgba(82, 82, 108, 0.2);"> <span style="font-weight: 600;">1</span></td>
      <td style="width: 12%; text-align: center; border-bottom: 1px solid rgba(82, 82, 108, 0.2);"> <span style="opacity: 0.9;">$300.00</span></td>
    </tr>
    <tr>
      <td style="width: 12%; text-align: center; border-bottom: 1px solid rgba(82, 82, 108, 0.2);"> <span style="font-weight: 600;">2</span></td>
      <td style="padding: 16px;border-bottom: 1px solid rgba(82, 82, 108, 0.2);">
        <h4 style="font-weight:600; margin:4px 0px; font-size: 18px; ">Web design and development</h4>
        <span style="opacity: 0.8; font-size: 16px;">Regular License</span>
      </td>
      <td style="width: 12%; text-align: center;border-bottom: 1px solid rgba(82, 82, 108, 0.2);"><span >$400.00</span></td>
      <td style="width: 12%; text-align: center; border-bottom: 1px solid rgba(82, 82, 108, 0.2);"> <span style="font-weight: 600;">2</span></td>
      <td style="width: 12%; text-align: center; border-bottom: 1px solid rgba(82, 82, 108, 0.2);"> <span style="opacity: 0.9;">$800.00</span></td>
    </tr>
    <tr>
      <td style="width: 12%; text-align: center; border-bottom: 1px solid rgba(82, 82, 108, 0.2);"> <span style="font-weight: 600;">3</span></td>
      <td style="padding: 16px;border-bottom: 1px solid rgba(82, 82, 108, 0.2);">
        <h4 style="font-weight:600; margin:4px 0px; font-size: 18px; ">Logo & Brand design</h4>
        <span style="opacity: 0.8; font-size: 16px;">Regular License</span>
      </td>
      <td style="width: 12%; text-align: center;border-bottom: 1px solid rgba(82, 82, 108, 0.2);"><span>$240.00</span></td>
      <td style="width: 12%; text-align: center; border-bottom: 1px solid rgba(82, 82, 108, 0.2);"> <span style="font-weight: 600;">2</span></td>
      <td style="width: 12%; text-align: center; border-bottom: 1px solid rgba(82, 82, 108, 0.2);"> <span style="opacity: 0.9;">$4800.00</span></td>
    </tr>
    <tr>
      <td style="width: 12%; text-align: center; border-bottom: 1px solid rgba(82, 82, 108, 0.2);"> <span style="font-weight: 600;">4</span></td>
      <td style="padding: 16px;border-bottom: 1px solid rgba(82, 82, 108, 0.2);">
        <h4 style="font-weight:600; margin:4px 0px; font-size: 18px; ">Stationary Design</h4>
        <span style="opacity: 0.8; font-size: 16px;">Regular License</span>
      </td>
      <td style="width: 12%; text-align: center;border-bottom: 1px solid rgba(82, 82, 108, 0.2);">
        <span>$100.00</span>
      </td>
      <td style="width: 12%; text-align: center; border-bottom: 1px solid rgba(82, 82, 108, 0.2);"> <span style="font-weight: 600;">1</span></td>
      <td style="width: 12%; text-align: center; border-bottom: 1px solid rgba(82, 82, 108, 0.2);"> <span style="opacity: 0.9;">$100.00</span></td>
    </tr>
    <tr>
      <td> </td>
      <td> </td>
      <td> </td>
      <td style="text-align: center; padding:35px 0 18px;"> <span style="opacity: 0.8;font-weight: 600;">Subtotal</span></td>
      <td style=" text-align: center; display: block;"> <span style=" font-weight: 600;opacity: 0.9;">$6100.00</span></td>
    </tr>
    <tr>
      <td> </td>
      <td> </td>
      <td> </td>
      <td style="width: 12%; text-align: center;"> <span style="opacity: 0.8;font-weight: 600;">VAT / Tax 15% </span></td>
      <td style=" text-align: center; display:block;"> <span style=" font-weight: 600;opacity: 0.9;">$50.00</span></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td> </td>
      <td style="width: 12%; text-align: center;"> <span style="opacity: 0.8;font-weight: 600;">Discount </span></td>
      <td style="text-align: center; display: block;"><span style=" font-weight: 600;opacity: 0.9;">$30.00</span></td>
    </tr>
    <tr>
      <td> </td>
      <td> </td>
      <td></td>
      <td style="width: 12%; text-align: center;"> <span style="opacity: 0.8;font-weight: 600;">Total Due </span></td>
      <td style="text-align: center;"> <span
          style="font-weight: 600;opacity: 0.9;background: #52526C; padding: 12px 37px; margin-top: 0px; display: block;">$6120.00</span>
      </td>
    </tr>
  </tbody>
</table>