<div class="card height-equal">
    <div class="card-header border-l-primary border-3">
        <h4>Border Primary State</h4>
        <p class="mt-1 f-m-light">Use the class of<code>.b-l-* </code>for left border and <code>.border-3 </code>is used
            to increase the width of the border.</p>
    </div>
    <div class="card-body">
        <div class="list-group">
            <a class="list-group-item list-group-item-action active" href="javascript:void(0)">
                <img class="rounded-circle" src="assets/images/user/1.jpg" alt="user">Teresa J. Mosteller
            </a>
            <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                <img class="rounded-circle" src="assets/images/user/3.png" alt="user">Gloria D. Acheson
            </a>
            <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                <img class="rounded-circle" src="assets/images/user/5.jpg" alt="user">Bryan A. Owens
            </a>
        </div>
    </div>
</div>