<div class="card">
    <div class="card-header pb-0">
        <h4>Basic Card</h4>
        <p class="f-m-light mt-1">This is a simple basic card using anywhere.</p>
    </div>
    <div class="card-body">
        <p class="mb-0">Tabs have long been used to show alternative views of the same group of information tabs in
            software. Known as<em class="txt-danger">“module tabs”</em> , these are still used today in web sites. For
            instance, airline companies such as Ryanair, easyJet and AirMalta use module tabs to enable the user to
            switch between bookings for flights, hotels and car hire.
        </p>
    </div>
</div>