<div class="card">
    <div class="card-header">
        <h4>Order</h4>
        <p class="mt-1 f-m-light">Using <code>.order </code>class, you can set the order position.</p>
    </div>
    <div class="card-body grid-showcase">
        <div class="row g-2">
            <div class="col-3 order-3"><span>First Item (order-3)</span></div>
            <div class="col-5 order-first"><span>Second Item (order-first)</span></div>
            <div class="col-4 order-last"><span>Third Item (order-last)</span></div>
            <div class="col-3 order-2"><span>Fourth Item (order-2)</span></div>
            <div class="col-sm-2 col-4 order-5"><span>fifth Item (order-5)</span></div>
            <div class="col-sm-6 col-4 order-4"><span>sixth Item (order-4)</span></div>
        </div>
    </div>
    <div class="card-footer">
        <div class="table-responsive custom-scrollbar">
            <table class="w-100">
                <tbody>
                    <tr>
                        <th> Class</th>
                        <th>Value of the class</th>
                    </tr>
                    <tr>
                        <td><code>.order-*</code></td>
                        <td> first / 2 / 3 / 4 / 5 / last</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>