<div class="card height-equal">
    <div class="card-header">
        <h4>Dismissing light alert</h4>
        <p class="f-m-light mt-1">Use the <code>.alert-dismissible</code> utility class to quickly remove the alerts.
        </p>
    </div>
    <div class="card-body">
        <div class="alert alert-warning alert-dismissible fade" [ngClass]="alerts2 ?'show':'hide'">
            <app-feathericon [icon]="'bell'"></app-feathericon>
            <p>Hidden content You should check in on some of those fields below.</p>
            <button class="btn-close" type="button" (click)="close2()"></button>
        </div>
    </div>
</div>