<div class="card height-equal">
    <div class="card-header">
        <h4>Live alert</h4>
        <p class="f-m-light mt-1">
            Click the button below to show an alert,then dismiss it with the built-in close button.</p>
    </div>
    <div class="card-body live-dark">
        @for( data of array; track data){
            @if(showLog == true){
            <div id="liveAlertPlaceholder">
                <div class="alert alert-light-dark txt-dark mb-3 alert-dismissible" role="alert">
                    <div>Nice, you triggered this alert message!</div>
                    <button type="button" class="btn-close" (click)="close(data)"></button>
                </div>
            </div>
         }
       }
        <button class="btn btn-dark" id="liveAlertBtn" type="button" (click)="onShowLog()">
            Show live alert
        </button>
    </div>
</div>