<div class="card">
    <div class="card-header">
        <h4>Colored tooltip </h4>
        <p class="f-m-light mt-1">
            Use the <code>btn- *</code> to change dark background color and <code>data-bs-placement='*' </code>to
            tooltip positions change.</p>
    </div>
    <div class="card-body">
        <div class="common-flex">
            <button class="mb-0 me-0 btn btn-primary" type="button" placement="top"
                ngbTooltip="Primary">Primary</button>
            <button class="mb-0 me-0 btn btn-secondary" type=" button" placement="top"
                ngbTooltip="Secondary">Secondary</button>
            <button class="mb-0 me-0 btn btn-success" type="button" placement="top"
                ngbTooltip="Success">Success</button>
            <button class="mb-0 me-0 btn btn-warning text-black" type="button" placement="top"
                ngbTooltip="Warning">Warning</button>
            <button class="mb-0 me-0 btn btn-danger" type="button" placement="top" ngbTooltip="danger">Danger</button>
        </div>
    </div>
</div>