<table style="width: 100%;border-spacing:0;">
  <thead> 
    <tr style="background: #006666;"> 
      <th style="padding: 18px 15px;text-align: left"><span style="color: #fff; font-size: 18px; font-weight: 600;">Description</span></th>
      <th style="padding: 18px 15px;text-align: center;border-inline: 3px solid #fff;"><span style="color: #fff; font-size: 18px; font-weight: 600;">Qty</span></th>
      <th style="padding: 18px 15px;text-align: center;border-right: 3px solid #fff;"><span style="color: #fff; font-size: 18px; font-weight: 600;">Price</span></th>
      <th style="padding: 18px 15px;text-align: center"><span style="color: #fff; font-size: 18px; font-weight: 600;">Subtotal</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="padding: 18px 15px 18px 0;display:flex;align-items: center;gap: 10px; border-bottom:1px solid #52526C4D;"><span style="width: 3px; height: 37px; background-color:#006666;"></span>
        <ul style="padding: 0;margin: 0;list-style: none;">
          <li class="invoice-title invoice-text">
            <h4 style="font-weight:600; margin:4px 0px; font-size: 18px;">HTML Admin template</h4><span style="opacity: 0.8; font-size: 16px;">Regular License</span>
          </li>
        </ul>
      </td>
      <td style="padding: 18px 15px; width: 12%; text-align: center; border-bottom:1px solid #52526C4D;"><span style="opacity: 0.8;">2</span></td>
      <td style="padding: 18px 15px; width: 12%; text-align: center; border-bottom:1px solid #52526C4D;"> <span style="opacity: 0.8;">$35</span></td>
      <td style="padding: 18px 15px; width: 12%; text-align: center; border-bottom:1px solid #52526C4D;"> <span style="opacity: 0.8;">$70</span></td>
    </tr>
    <tr>
      <td style="padding: 18px 15px 18px 0;display:flex;align-items: center;gap: 10px; border-bottom:1px solid #52526C4D;"><span style="width: 3px; height: 37px; background-color:#FFAE46;"></span>
        <ul style="padding: 0;margin: 0;list-style: none;">
          <li class="invoice-title invoice-text">
            <h4 style="font-weight:600; margin:4px 0px; font-size: 18px;">React Admin template</h4><span style="opacity: 0.8; font-size: 16px;">Regular License</span>
          </li>
        </ul>
      </td>
      <td style="padding: 18px 15px; width: 12%; text-align: center; border-bottom:1px solid #52526C4D;"><span style="opacity: 0.8;">1</span></td>
      <td style="padding: 18px 15px; width: 12%; text-align: center; border-bottom:1px solid #52526C4D;"> <span style="opacity: 0.8;">$25</span></td>
      <td style="padding: 18px 15px; width: 12%; text-align: center; border-bottom:1px solid #52526C4D;"> <span style="opacity: 0.8;">$50</span></td>
    </tr>
    <tr>
      <td style="padding: 18px 15px 18px 0;display:flex;align-items: center;gap: 10px; border-bottom:1px solid #52526C4D;"><span style="width: 3px; height: 37px; background-color:#54BA4A;"></span>
        <ul style="padding: 0;margin: 0;list-style: none;">
          <li class="invoice-title invoice-text">
            <h4 style="font-weight:600; margin:4px 0px; font-size: 18px;">Laravel Admin template</h4><span style="opacity: 0.8; font-size: 16px;">Regular License</span>
          </li>
        </ul>
      </td>
      <td style="padding: 18px 15px; width: 12%; text-align: center; border-bottom:1px solid #52526C4D;"><span style="opacity: 0.8;">2</span></td>
      <td style="padding: 18px 15px; width: 12%; text-align: center; border-bottom:1px solid #52526C4D;"> <span style="opacity: 0.8;">$30</span></td>
      <td style="padding: 18px 15px; width: 12%; text-align: center; border-bottom:1px solid #52526C4D;"> <span style="opacity: 0.8;">$60</span></td>
    </tr>
    <tr>
      <td style="padding: 18px 15px 18px 0;display:flex;align-items: center;gap: 10px;border-bottom:1px solid #52526C4D;"><span style="width: 3px; height: 37px; background-color:#FF3364;"></span>
        <ul style="padding: 0;margin: 0;list-style: none;">
          <li class="invoice-title invoice-text">
            <h4 style="font-weight:600; margin:4px 0px; font-size: 18px;">Vuejs Admin template</h4><span style="opacity: 0.8; font-size: 16px;">Regular License</span>
          </li>
        </ul>
      </td>
      <td style="padding: 18px 15px; width: 12%; text-align: center; border-bottom:1px solid #52526C4D;"><span style="opacity: 0.8;">3</span></td>
      <td style="padding: 18px 15px; width: 12%; text-align: center; border-bottom:1px solid #52526C4D;"> <span style="opacity: 0.8;">$20</span></td>
      <td style="padding: 18px 15px; width: 12%; text-align: center; border-bottom:1px solid #52526C4D;"> <span style="opacity: 0.8;">$60</span></td>
    </tr>
  </tbody>
</table>