<div class="card-wrapper border rounded-3 h-100">
    <div class="Riho-demo-img">
        <ul class="dot-group pb-3 pt-0">
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="title-wrapper pb-3 modal-heading">
            <h5 class="theme-name mb-0"><span>Modal 1 -</span>Profile Modal</h5>
            <p>Example of Riho dashboard profile card.</p>
        </div>
        <div class="overflow-hidden">
            <img class="img-fluid" src="assets/images/alert/social.png" alt="social">
            <button class="btn btn-primary mx-auto mt-3" type="button" (click)="profilemodal(profilecontant)">Click
                Out</button>
        </div>
        <ng-template #profilecontant let-modal>
            <div class="modal-content">
                <div class="col-xl-12">
                    <div class="card social-profile mb-0">
                        <div class="card-body">
                            <div class="social-img-wrap">
                                <div class="social-img"><img src="assets/images/dashboard-3/profile.png" alt="profile">
                                </div>
                                <div class="edit-icon">
                                    <svg>
                                        <use href="assets/svg/icon-sprite.svg#profile-check"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="social-details">
                                <h5 class="mb-1"><a [routerLink]="['/social-app']">Brooklyn Simmons</a></h5>
                                <span class="f-light">&#64;brookly.simmons</span>
                                <ul class="social-follow">
                                    <li>
                                        <h5 class="mb-0">1,908</h5><span class="f-light">Posts</span>
                                    </li>
                                    <li>
                                        <h5 class="mb-0">34.0k</h5><span class="f-light">Followers</span>
                                    </li>
                                    <li>
                                        <h5 class="mb-0">897</h5><span class="f-light">Following</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>