<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <app-simple-typehead></app-simple-typehead>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-wikipedia-search></app-wikipedia-search>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-open-focus-typehead></app-open-focus-typehead>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-formatted-results></app-formatted-results>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-select-on-exact></app-select-on-exact>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-temlate-for-results></app-temlate-for-results>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-pervent-manual-entry></app-pervent-manual-entry>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-global-configuration></app-global-configuration>
        </div>
    </div>
</div>
