<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h4>Billing Details</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="row">
                    <div class="col-xl-6 col-sm-12">
                        <app-billing-details></app-billing-details>
                    </div>
                    <div class="col-xl-6 col-sm-12">
                        <app-product-total></app-product-total>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>