<div class="cd-timeline-img cd-location bg-info"><i class="icon-pulse"></i></div>
<div class="cd-timeline-content">
  <div class="timeline-wrapper">
    <div class="badge bg-primary">Audio testing</div>
  </div>
  <h5 class="f-w-500 m-0">Musical trends and predictability</h5>
  <p class="mb-0">
      So, the next time you listen to music, you might or might not consider how it's actively altering your mood.</p>
  <audio controls="">
    <source src="assets/audio/horse.ogg" type="audio/ogg">
  </audio><span class="cd-date">June 12 2022</span>
</div>