<div class="card height-equal">
    <div class="card-header border-l-secondary border-2">
        <h4>Border Secondary State</h4>
        <p class="mt-1 f-m-light">Use the class of<code>.b-l-* </code>for left border and <code>.border-3 </code>is used
            to increase the width of the border.</p>
    </div>
    <div class="card-body scroll-demo">
        <ol class="list-group list-group-numbered scroll-rtl">
            <li class="list-group-item d-flex align-items-start flex-wrap">
                <div class="ms-2 me-auto">Stella Nowland</div><span
                    class="badge bg-warning rounded-pill p-2">Freelance</span>
            </li>
            <li class="list-group-item d-flex align-items-start flex-wrap">
                <div class="ms-2 me-auto">Lola Stanford</div><span
                    class="badge bg-danger text-white rounded-pill p-2">Issue</span>
            </li>
            <li class="list-group-item d-flex align-items-start flex-wrap">
                <div class="ms-2 me-auto">Caitlin Coungeau</div><span
                    class="badge bg-primary text-white rounded-pill p-2">Social</span>
            </li>
            <li class="list-group-item d-flex align-items-start flex-wrap">
                <div class="ms-2 me-auto">Graciela McClaran</div>
                <span class="badge bg-danger text-white rounded-pill p-2">Issue</span>
            </li>
        </ol>
    </div>
</div>