<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-6">
            <app-clipboard-text-input></app-clipboard-text-input>
        </div>
        <div class="col-sm-12 col-md-12 col-xl-6">
            <app-clipboard-on-paragraph></app-clipboard-on-paragraph>
        </div>
        <div class="col-sm-12 col-md-12 col-xl-6">
            <app-clipboard-on-textarea></app-clipboard-on-textarea>
        </div>
        <div class="col-sm-12 col-md-12 col-xl-6">
            <app-copy-protion-form-paragraph></app-copy-protion-form-paragraph>
        </div>
    </div>
</div>
