<div class="card">
  <div class="card-header">
    <h4>Sizing</h4>
    <p class="f-m-light mt-1">
      Add the relative form sizing classes to the<code> .input-group</code> itself and contents within will
      automatically resize—no need for repeating the form control size classes on each element.</p>
  </div>
  <div class="card-body card-wrapper input-group-wrapper">
    <div class="input-group input-group-sm"><span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
      <input class="form-control" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group"><span class="input-group-text" id="inputGroup-sizing-default">Default</span>
      <input class="form-control" type="text" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group input-group-lg"><span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
      <input class="form-control" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>
  </div>
</div>