@for(badgesData of data; track data){
<div class="card">
    <div class="card-header">
        <h4>{{badgesData.mainTitle}}</h4>
        <p class="f-m-light mt-1" [innerHTML]="badgesData.title"></p>
    </div>
    <div class="card-body">
        <div class="badge-spacing">
            @for(badgesitem of badgesData.item; track badgesitem){
                @if(badgesitem.icon_enble == false){
            <span class="badge {{badgesitem.class}}">
                {{badgesitem.text}}
            </span>
         } @else{
            <a class="badge {{badgesitem.class}}">
                <app-feathericon [icon]="badgesitem.icon"></app-feathericon>
            </a>
            }
        }
        </div>
    </div>
</div>
}