<div class="card height-equal">
    <div class="card-header">
        <h4>Simple accordion</h4>
        <p class="f-m-light mt-1">
            Click the accordions below to expand/collapse the accordion content.
            Use the <code>.accordion </code>.
        </p>
    </div>
    <div class="card-body">
        <div class="accordion dark-accordion" id="simpleaccordion" ngbAccordion [closeOthers]="true">
            @for(simpleaccordionitem of simpleAccordionData; track simpleaccordionitem){
            <div class="accordion-item" ngbAccordionItem
                [collapsed]="simpleaccordionitem.panel !== 'First'">
                <h2 ngbAccordionHeader class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed accordion-light-primary txt-primary active" type="button"
                        ngbAccordionButton>{{simpleaccordionitem.title}}
                        <app-feathericon [icon]="'chevron-down'" class="svg-color"></app-feathericon></button>
                </h2>
                <div class="accordion-collapse {{simpleaccordionitem.class}}" id="collapseOne" ngbAccordionCollapse>
                    <div class="accordion-body" ngbAccordionBody>
                        <ng-template>
                            <ul class="d-flex flex-column gap-2 accordions-content">
                              <li [innerHTML]="simpleaccordionitem.text"></li>
                            </ul>
                        </ng-template>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</div>
