<div class="card height-equal">
    <div class="card-header">
        <h4>Default Pagination</h4>
        <p class="f-m-light mt-1"></p>If the pagination component is used to navigate between a set of search results,
        an appropriate label could be <code>aria-label="Search results pages"</code>.
    </div>
    <div class="card-body">
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-primary pagin-border-primary">
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
            </ul>
        </nav>
    </div>
</div>