<div class="card">
  <div class="card-header">
    <h4>Lists with checkbox</h4>
    <p class="f-m-light mt-1">Use the <code>.form-check-input </code>to check your checkbox.</p>
  </div>
  <div class="card-body dark-list">
    <ul class="list-group">
      <li class="list-group-item">
        <input class="form-check-input me-1 checkbox-primary active" id="firstCheckbox" type="checkbox" value="">
        <label class="form-check-label txt-primary mb-0" for="firstCheckbox">Auto Start</label>
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1 checkbox-secondary" id="secondCheckbox" type="checkbox" value="">
        <label class="form-check-label txt-secondary mb-0" for="secondCheckbox">Auto Update</label>
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1 checkbox-success" id="thirdCheckbox" type="checkbox" value="">
        <label class="form-check- txt-success mb-0" for="thirdCheckbox">Don't check auth key</label>
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1 checkbox-warning" id="fourCheckbox" type="checkbox" value="">
        <label class="form-check-label txt-warning mb-0" for="fourCheckbox">Success all</label>
      </li>
    </ul>
  </div>
</div>