<table style="width:100%;">
    <tbody>
      <tr style="display:flex; justify-content: space-between; margin:16px 0 24px 0; align-items: end;">
        <td style="display: flex; gap: 10px;"><span style="color: #000248; font-size: 16px; font-weight: 500; font-weight: 600;">Payment Teams : </span><span style=" display:block; line-height: 1.5;  font-size: 16px; font-weight: 400; width: 55%;">This denotes a payment credit for a full month's supply.</span></td>
        <td>
          <ul style="padding: 0; margin: 0; list-style: none;">
            <li style="display:flex; padding-bottom: 16px;"> <span style="display: block; width: 95px; ">Subtotal           </span><span style="display: block; width:25px;">:</span><span style="display: block;  width: 95px; color: #000248; opacity: 0.9; font-weight:600;">$6100.00</span></li>
            <li style="display:flex; padding-bottom: 16px;"> <span style="display: block; width: 95px; ">Tax</span><span style="display: block; width:25px;"> :</span><span style="display: block; width: 95px;color: #000248; opacity: 0.9; font-weight:600;">$50.00</span></li>
            <li style="display:flex; padding-bottom: 20px;"> <span style="display: block; width: 95px; ">Discount     </span><span style="display: block; width:25px;">     :</span><span style="display: block; width: 95px;color: #000248; opacity: 0.9; font-weight:600;">$30.00</span></li>
            <li style="display:flex; align-items: center;"> <span style="display: block; width: 95px; ">Total Due</span><span style="display: block; color: #000248; opacity: 0.9; font-weight:600; padding: 12px 25px; border-radius: 5px; background: #F5F6F9; font-size: 18px;">$6120.00</span></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
