<div class="card">
    <div class="card-header">
        <h4>Radio toggle buttons</h4>
        <p class="f-m-light mt-1">
            The choice between these two approaches will depend on the type of toggle you are creating, and whether or
            not the toggle will make sense to users when announced as a checkbox or as an actual button. <code>[any one
                selected]</code>.</p>
    </div>
    <div class="card-body common-flex main-radio-toggle">
        <input class="btn-check radio-light-secondary" id="option1" type="radio" name="options" checked="">
        <label class="btn list-light-secondary" for="option1">Checked</label>
        <input class="btn-check radio-light-secondary" id="option2" type="radio" name="options">
        <label class="btn list-light-secondary" for="option2">Radio</label>
        <input class="btn-check radio-light-secondary" id="option3" type="radio" name="options" disabled="">
        <label class="btn list-light-secondary" for="option3">Disabled</label>
        <input class="btn-check radio-light-secondary" id="option4" type="radio" name="options">
        <label class="btn list-light-secondary" for="option4">Radio</label>
    </div>
</div>
