<div class="card">
    <div class="card-header">
        <h4>Multiple inputs</h4>
        <p class="f-m-light mt-1">
            While multiple <code>&lt;input&gt;</code>s are supported visually, validation styles are only available for
            input groups with a single <code>&lt;input&gt;</code>.</p>
    </div>
    <div class="card-body common-flex main-custom-form card-wrapper">
        <div class="input-group"><span class="input-group-text">First and last name</span>
            <input class="form-control" type="text" aria-label="First name">
            <input class="form-control" type="text" aria-label="Last name">
        </div>
        <div class="input-group"><span class="input-group-text">$</span><span class="input-group-text">0.00</span>
            <input class="form-control" type="text" aria-label="Dollar amount (with dot and two decimal places)">
        </div>
        <div class="input-group">
            <input class="form-control" type="text" aria-label="Dollar amount (with dot and two decimal places)"><span
                class="input-group-text">$</span><span class="input-group-text">0.00</span>
        </div>
    </div>
</div>