<div class="card">
    <div class="card-header">
        <h4>Colored Breadcrumb</h4>
        <p class="f-m-light mt-1">You can set breadcrumb using <code>.breadcrumb </code> class and set background colors
            like <code>[.bg-*]</code> .</p>
    </div>
    <div class="card-body">
        <ol class="breadcrumb breadcrumb-colored m-b-30 bg-info">
            <li class="breadcrumb-item"><a class="fw-bold" href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item"><a class="fw-bold" href="javascript:void(0)">Bonus Ui</a></li>
            <li class="breadcrumb-item active fw-bold">Breadcrumb</li>
        </ol>
        <ol class="breadcrumb breadcrumb-colored m-b-30 bg-warning">
            <li class="breadcrumb-item"><a class="fw-bold" href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item"><a class="fw-bold" href="javascript:void(0)">Icons</a></li>
            <li class="breadcrumb-item active fw-bold">Flag-icon</li>
        </ol>
        <ol class="breadcrumb breadcrumb-colored m-0 bg-danger">
            <li class="breadcrumb-item"><a class="fw-bold" href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item"><a class="fw-bold" href="javascript:void(0)">Gallery</a></li>
            <li class="breadcrumb-item active fw-bold">Gallery-grid</li>
        </ol>
    </div>
</div>