<div class="card boost-up-card overflow-hidden">
    <div class="p-4">
        <div class="boostup-name row">
            <h6 class="text-white f-28 f-w-700 mb-2 z-1 ">Boost up your sale </h6>
            <p class="text-white f-14 f-w-500 col-9 line-clamp">by upgrading your increase sale by 30% more.</p>
        </div>
        <div class="img-boostup"><img class="img-boostup-img-1" src="assets/images/dashboard-3/boostup1.png"
                alt="boostup"></div>
        <div class="btn-showcase text-start">
            <button class="btn btn-pill btn-outline-light-2x b-r-8" type="button">Upgrade Now</button>
        </div>
    </div>
</div>