<div class="card height-equal">
  <div class="card-header">
    <h4>Checkboxes and radios</h4>
    <p class="f-m-light mt-1">
      Place any checkbox or radio option within an input group's addon instead of text. We recommend adding
      <code>.mt-0</code> to the <code>.form-check-input</code> when there's no visible text next to the input.</p>
  </div>
  <div class="card-body checkbox-checked card-wrapper input-group-wrapper">
    <div class="input-group">
      <div class="input-group-text">
        <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
      </div>
      <input class="form-control" type="text" aria-label="Text input with checkbox">
    </div>
    <div class="input-group">
      <div class="input-group-text">
        <input class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input"
          checked="">
      </div>
      <input class="form-control" type="text" aria-label="Text input with radio button">
    </div>
  </div>
</div>