<div class="card height-equal">
    <div class="card-header">
      <h4>With Icons Breadcrumb</h4>
      <p class="f-m-light mt-1">You can set icons breadcrumb using <code>.breadcrumb </code>class.</p>
    </div>
    <div class="card-body">
      <ol class="breadcrumb bg-white p-l-0">
        <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item active">Bonus Ui</li>
      </ol>
      <ol class="breadcrumb bg-white m-b-0 p-b-0 p-l-0">
        <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item">Bonus Ui</li>
        <li class="breadcrumb-item active">Breadcrumb</li>
      </ol>
    </div>
  </div>
