<button class="btn btn-primary" type="button" (click)="OpenModal(openmodal)">Open modal for Riho</button>
<ng-template #openmodal let-modal>
    <div class="modal-content">
        <div class="modal-toggle-wrapper social-profile text-start dark-sign-up">
            <h3 class="modal-header justify-content-center border-0">Riho SIGN-UP</h3>
            <div class="modal-body">
                <form class="row g-3 needs-validation" novalidate [ngClass]="{'was-validated': validate}">
                    <div class="col-md-6">
                        <label class="form-label" for="validationCustom01">First name</label>
                        <input class="form-control" id="validationCustom01" type="text" placeholder="Enter your name"
                            required="">
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="validationCustom02">Last name</label>
                        <input class="form-control" id="validationCustom02" type="text" placeholder="Enter your surname"
                            required="">
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label" for="exampleFormControlInput1">Email address</label>
                            <input class="form-control" id="exampleFormControlInput1" type="email"
                                placeholder="Rihotheme@gmail.com">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-check mb-3">
                            <input class="form-check-input" id="flexCheckDefault" type="checkbox" value="">
                            <label class="form-check-label d-block mb-0" for="flexCheckDefault">You accept our Terms and
                                Privacy Policy by clicking Submit below.</label>
                        </div>
                        <button class="btn btn-primary" type="submit" (click)="submit()">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>