<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <app-common-bedge-pills [data]="BadgesData"></app-common-bedge-pills>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-common-bedge-pills [data]="PillsData"></app-common-bedge-pills>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-common-bedge-pills [data]="NumberBadgeData"></app-common-bedge-pills>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-common-bedge-pills [data]="NumberPillsData"></app-common-bedge-pills>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-common-bedge-pills [data]="IconBadeData"></app-common-bedge-pills>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-common-bedge-pills [data]="IconpillsData"></app-common-bedge-pills>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-bedge-headings></app-bedge-headings>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-bedges-part-buttons></app-bedges-part-buttons>
        </div>
    </div>
</div>
