<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-6">
            <app-headings></app-headings>
        </div>
        <div class="col-xxl-6">
            <app-colored-headings></app-colored-headings>
        </div>
        <div class="col-12">
            <app-font-weight></app-font-weight>
        </div>
        <div class="col-sm-12 listing">
            <app-listing-typography></app-listing-typography>
        </div>
        <div class="col-12">
            <app-display-headings></app-display-headings>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-inline-text-elements></app-inline-text-elements>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-text-color></app-text-color>
        </div>
        <div class="col-sm-12">
            <app-blockquotes></app-blockquotes>
        </div>
    </div>
</div>
