<div class="card">
    <div class="card-header">
        <h4>Numbered & badge lists</h4>
        <p class="f-m-light mt-1">
            Use the<code> .list-group-numbered</code> modifier class to numbered list group items.Numbers are generated
            via CSS for better placement inside list group items.</p>
    </div>
    <div class="card-body">
        <ol class="list-group list-group-numbered">
            @for( numberbadgeitem of NumberedBadgeData; track numberbadgeitem){
            <li class="list-group-item d-flex justify-content-between align-items-start flex-wrap">
                <div class="ms-2 me-auto">{{numberbadgeitem.list}}</div>
                <span class="badge {{numberbadgeitem.class}} rounded-pill p-2">{{numberbadgeitem.text}}</span>
            </li>
            }
        </ol>
    </div>
</div>