<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="form theme-form">
                        <app-project-create-form></app-project-create-form>
                        <div class="row">
                            <div class="col">
                                <app-upload-file></app-upload-file>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="text-end"><a class="btn btn-success me-3" href="javascript:void(0)">Add</a>
                                    <div class="btn btn-danger" href="javascript:void(0)">Cancel</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
