<div class="card">
    <div class="card-header">
        <h4>Collapse accordion</h4>
        <p class="f-m-light mt-1">you can also use a link with the href attribute<code>(and a role="button").</code>In
            both
            cases, the <code>data-bs-toggle="collapse"</code> is required.</p>
    </div>
    <div class="card-body collapse-accordion">
        <p class="common-flex"><a class="btn btn-dark" href="javascript:void(0)" (click)="toggle()">Link with href</a>
            <button class="btn btn-dark" type="button" (click)="open()">Button with data-bs-target</button>
        </p>
        <div class="collapse btn-dark" id="collapseExample" [class.show]="togglecollpese">
            <div class="card card-body mb-0 dark-accordion">
                Some placeholder content for the collapse component. This
                panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
        </div>
    </div>
</div>
