<div class="card">
    <div class="card-header">
        <h4>Custom forms </h4>
        <p class="f-m-light mt-1">
            Input groups include support for <code>custom selects and custom file inputs</code>. Browser default
            versions of these are not supported.</p>
    </div>
    <div class="card-body common-flex main-custom-form">
        <div class="input-group">
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected="">Select Your Favorite Pixelstrap theme</option>
                <option value="1">Tivo</option>
                <option value="2">Mofi</option>
                <option value="3">Roxo</option>
            </select>
        </div>
        <div class="input-group">
            <select class="form-select" id="inputGroupSelect02">
                <option selected="">Select Your Favorite Colors</option>
                <option value="1">Yellow</option>
                <option value="2">Red</option>
                <option value="3">Orange</option>
            </select>
            <label class="input-group-text" for="inputGroupSelect02">Options</label>
        </div>
        <div class="input-group">
            <button class="btn btn-outline-secondary" type="button"> <i
                    class="icofont icofont-credit-card"></i></button>
            <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                <option selected="">Select Your Favorite Chocolates</option>
                <option value="1">Dark Chocolates</option>
                <option value="2">Dairy Milk</option>
                <option value="3">Kitkat</option>
            </select>
        </div>
        <div class="input-group">
            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                <option selected="">Select Your Favorite Theme</option>
                <option value="1">Oslo</option>
                <option value="2">Koho</option>
                <option value="3">Voxo</option>
            </select>
            <button class="btn btn-outline-secondary" type="button">Submit</button>
        </div>
    </div>
</div>