<div class="card">
  <div class="card-header">
    <h4>Border color</h4>
    <p class="f-m-light mt-1">
      Use the <code>.b-*/.b-t-*/.b-b-*/.b-l-*/.b-r-* </code>class for borders.</p>
  </div>
  <div class="card-body">
    <div class="gradient-border">
      @for(color of borderColorData; track color ){
      <div class="helper-common-box">
        <div class="helper-box {{color.class}} border fill-wrapper"></div>
        <span>{{color.title}}</span>
      </div>
    }
    </div>
  </div>
</div>