<div class="card">
    <div class="card-header">
        <h4>Pagination Alignment</h4>
        <p class="f-m-light mt-1">Change the alignment of pagination components with flexbox utilities. For example,
            with <code>.justify-content-center:</code>.</p>
    </div>
    <div class="card-body">
        <nav class="m-b-30" aria-label="Page navigation example">
            <ul class="pagination pagin-border-warning pagination-warning">
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
            </ul>
        </nav>
        <nav class="m-b-30" aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagin-border-danger pagination-danger">
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">I </a></li>
                <li class="page-item active"><a class="page-link" href="javascript:void(0)">II </a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">III</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
            </ul>
        </nav>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end pagin-border-success pagination-success">
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">i </a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">ii </a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">iii</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
            </ul>
        </nav>
    </div>
</div>