<div class="card height-equal">
    <div class="card-header">
        <h4>Pills tabs</h4>
        <p class="mt-1 f-m-light">Use the <code>data-bs-toggle="pill"</code> to tabs pill shape. And mandatory for
            <code>.active </code> class.</p>
    </div>
    <div class="card-body">
        <ul class="nav nav-pills nav-primary" id="pills-tab" role="tablist" ngbNav #nav="ngbNav" [(activeId)]="active">
            <li class="nav-item" [ngbNavItem]="1">
                <a class="f-w-600 nav-link" id="pills-aboutus-tab " ngbNavLink>About us</a>
                <ng-template ngbNavContent>
                    <div class="tab-pane fade show" id="pills-aboutus">
                        <p class="pt-3">The ultimate goal of every web design is to create a site that will reach its
                            audience and be useful to them. In order to achieve that, it is necessary to befriend
                            Google's mechanisms and algorithms.There is no use of a pretty website, if it's displayed
                            on a 10th page of search results, because this way no one will ever find it. That brings
                            us to the topic of Google's Website Ranking.Generally speaking, it's a list of pages and
                            their keywords, sorted in the order of search results. The higher your place in the
                            ranking is, the more people are likely to see your page.</p>
                    </div>
                </ng-template>
            </li>
            <li class="nav-item" [ngbNavItem]="2">
                <a class="f-w-600 nav-link" id="pills-contactus-tab" ngbNavLink>Contact us</a>
                <ng-template ngbNavContent>
                    <div class="tab-pane fade show" id="pills-contactus">
                        <ul class="d-flex flex-column gap-1 pt-3">
                            <li>
                                Create professional web page design. Responsive, fully customizable with easy
                                Drag-n-Drop Nicepage editor. Adjust colors, fonts, header and footer, layout and
                                other design elements, as well as content and images.
                            </li>
                            <li>
                                <strong>Visit Us: </strong> 4 Marigold Close, Glenmore Park, New South Wales, 2745
                                Australia- 2745
                            </li>
                            <li> <strong>Mail Us:</strong> SamuelMario&#64;armyspy.com</li>
                            <li> <strong>Contact Number: </strong> (02) 4733 6337</li>
                        </ul>
                    </div>
                </ng-template>
            </li>
            <li class="nav-item" [ngbNavItem]="3">
                <a class="f-w-600 nav-link " id="pills-blog-tab" ngbNavLink>Blog</a>
                <ng-template ngbNavContent>
                    <div class="tab-pane fade show" id="pills-blog">
                        <div class="pt-3 d-flex align-items-center gap-3 pills-blogger">
                            <div class="blog-wrapper"> <img class="blog-img"
                                    src="assets/images/dashboard-2/headphones.png" alt="head-phone"></div>
                             <div class="blog-content">
                                <p> </p><em class="txt-danger fw-bold">Smart headphones</em> — also called smart
                                earbuds or hearable — are high-tech in-ear devices that do more than transmit audio.
                                These headphones are usually wireless, and they can sync up with your phone, tablet,
                                computer or other Bluetooth-enabled device. The main appeal of hearables is convenience, 
                                as they allow you to complete common tasks without directlyaccessing your phone or computer. 
                                Smart wireless headphones sync up to other devices using Bluetooth technology, and many of their
                               features rely on data from your smartphone or computer.
                             </div>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div [ngbNavOutlet]="nav" class="mt-4"></div>
        </div>
    </div>
</div>
