<div class="card">
    <div class="card-header">
        <h4>Radio button group</h4><span>Add <code>.active</code> for active state and<code>.disabled</code> class or
            <code>disabled="disabled"</code> attribute</span>
    </div>
    <div class="card-body btn-group-showcase">
        <div class="row">
            @for(radio of radiobuttonData; track radio){
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="btn-radio">
                    <div class="btn-group">
                        @for(radioitem of radio.item; track radioitem){
                        <div class="{{radioitem.class}}">
                            <div class="{{radioitem.radio}}">
                                <input id="{{radioitem.id}}" type="radio" name="{{radioitem.name}}"
                                    [checked]="radioitem.value">
                                <label for="{{radioitem.id}}">{{radioitem.text}}</label>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>