<div class="card">
    <div class="card-header">
        <h4>Unique dropdown</h4>
        <p class="f-m-light mt-1">Unique way to represent form dropdown and text dropdown.</p>
    </div>
    <div class="card-body rtl-dropdown">
        <div class="common-flex">
            <div class="btn-group" ngbDropdown>
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-auto-close="outside"
                    ngbDropdownToggle>Dropdown form</button>
                <form class="dropdown-menu p-4 form-wrapper dark-form" ngbDropdownMenu>
                    <ng-container>
                        <div class="mb-3" ngbDropdownItem>
                            <label class="form-label" for="exampleDropdownFormEmail2">Email address</label>
                            <input class="form-control" id="exampleDropdownFormEmail2" type="email"
                                placeholder="email@example.com">
                        </div>
                        <div class="mb-3" ngbDropdownItem>
                            <label class="form-label" for="exampleDropdownFormPassword2">Password</label>
                            <input class="form-control" id="exampleDropdownFormPassword2" type="password"
                                placeholder="Password">
                        </div>
                        <div class="mb-3" ngbDropdownItem>
                            <div class="form-check">
                                <input class="form-check-input" id="dropdownCheck2" type="checkbox">
                                <label class="form-check-label" for="dropdownCheck2">Remember me</label>
                            </div>
                        </div>
                        <button class="btn btn-dark p-0" type="submit">Sign in</button>
                    </ng-container>
                </form>
            </div>
            <div class="btn-group" ngbDropdown>
                <button class="btn btn-dark dropdown-toggle" type="button" ngbDropdownToggle>Text
                </button>
                <div class="dropdown-menu p-4 text-muted form-wrapper" ngbDropdownMenu>
                    <p>Some example text that&apos;s free-flowing within the dropdown menu.</p>
                    <p class="mb-0" ngbDropdownItem>And this is more example text. </p>
                </div>
            </div>
        </div>
    </div>
</div>