<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-md-12 box-col-6">
            <app-bars-chart></app-bars-chart>
        </div>
        <div class="col-xl-6 col-md-12 box-col-6">
            <app-line-graph></app-line-graph>
        </div>
        <div class="col-xl-6 col-md-12 box-col-6">
            <app-radar-graph></app-radar-graph>
        </div>
        <div class="col-xl-6 col-md-12 box-col-6">
            <app-line-chart></app-line-chart>
        </div>
        <div class="col-xl-6 col-md-12 box-col-6">
            <app-doughnut-chart></app-doughnut-chart>
        </div>
        <div class="col-xl-6 col-md-12 box-col-6">
            <app-polar-chart></app-polar-chart>
        </div>
    </div>
</div>

