@for(multiple of mutiPalbarData; track multiple){
<div class="card">
    <div class="card-header">
        <h4>{{multiple.mainTitle}}</h4>
        <p class="f-m-light mt-1">{{multiple.title}}</p>
    </div>
    <div class="card-body progress-showcase">
        <div class="row">
            <div class="col">
                <div class="progress">
                    @for(multipleitem of multiple.item; track multipleitem){
                        <div class="progress-bar {{multipleitem.class}}" role="progressbar"
                            [ngStyle]="{'width':multipleitem.value}" aria-valuenow="30" aria-valuemin="0"
                            aria-valuemax="100"></div>
                }
                </div>
                <div class="progress">
                    @for(othesData of multiple.item2; track othesData){
                        <div class="progress-bar {{othesData.class}}" role="progressbar"
                            [ngStyle]="{'width':othesData.value}" aria-valuenow="15" aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                     }
                </div>
            </div>
        </div>
    </div>
</div>
}