<div class="card height-equal">
    <div class="card-header">
        <h4>Small progress bars</h4>
        <p class="f-m-light mt-1">Use <code> .sm-progress-bar</code>  class to change progress size to small.</p>
      </div>
    <div class="card-body">
        <div class="progress-showcase row progress-b-space">
            <div class="col">
                @for(smallprogressitem of smallProgressData; track smallprogressitem){
                <div class="progress sm-progress-bar overflow-visible">
                    <div class="progress-bar-animated small-progressbar bg-primary rounded-pill progress-bar-striped"
                        role="progressbar" [ngStyle]="{'width':smallprogressitem.value}" aria-valuenow="30"
                        aria-valuemin="0" aria-valuemax="100"><span
                            class="txt-primary progress-label">{{smallprogressitem.text}}</span>
                        <span class="animate-circle"></span>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</div>
