<div class="md-sidebar" (clickOutside)="clickOutside()">
    <a class="btn btn-primary email-aside-toggle md-sidebar-toggle" (click)="openFilter()">Learning filter</a>
    <div class="md-sidebar-aside job-sidebar" [class.open]="isCollapsed">
        <div class="default-according style-1 faq-accordion job-accordion" id="accordionoc">
            <div class="row">
                <div class="col-xl-12">
                    <app-find-cource></app-find-cource>
                </div>
                <div class="col-xl-12">
                    <app-categories></app-categories>
                </div>
                <div class="col-xl-12">
                    <app-upcoming-cource></app-upcoming-cource>
                </div>
            </div>
        </div>
    </div>
</div>
