<div class="page-wrapper">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-12">     
          <div class="login-card login-dark">
            <div>
              <div>
                <a class="logo" [routerLink]="['/dashboard/default']">
                    <img class="img-fluid for-dark" src="assets/images/logo/logo_Icon.png" alt="looginpage"
                    style="width: 200px;">
                   <img class="img-fluid for-light" src="assets/images/logo/logo_Icon.png" alt="looginpage"
                    style="width: 200px;">
                </a>
              </div>
              <div class="login-main"> 
                <form class="theme-form"  novalidate="novalidate" id="kt_password_reset_form" (ngSubmit)="submit()"
                [formGroup]="forgotPasswordForm" novalidate>
                  <h4>Reset Your Password</h4>
                  <div class="form-group">
                    <label class="col-form-label">Enter Email</label>
                    <div class="form-input position-relative">
                      <input class="form-control" type="email" placeholder="" name="Email" autocomplete="off"
                      formControlName="Email">
                      <div *ngIf="f['Email'].errors"
                      [hidden]="forgotPasswordForm.controls['Email'].valid || forgotPasswordForm.controls['Email'].untouched">
                      <small *ngIf="f['Email'].errors['required']" class="text-danger">Email is required</small>
                      <small *ngIf="f['Email'].errors['email']" class="text-danger">Email must be a valid email
                        address</small>
                    </div>
                    </div>
                  </div>
                  <div class="form-group mb-0">  
                    <button class="btn btn-primary btn-block w-100" (click)="submit()"  type="submit">Save </button>
                  </div>
                  <p class="mt-4 mb-0 text-center">
              <a routerLink="/auth/login" class="ms-2">Back to login </a>
                </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
