<div class="card">
    <div class="card-header">
      <h4>Inline text elements</h4>
      <p class="f-m-light mt-1">Styling for common inline HTML5 elements.</p>
    </div>
    <div class="card-body">
      <div class="d-flex flex-column gap-2">
        <p class="mb-0">You can use the mark tag to 
          <mark>highlight</mark> text.
        </p>
        <p class="mb-0">
          <del>This line of text is meant to be treated as deleted text.</del>
        </p>
        <p class="mb-0">
          <s>This line of text is meant to be treated as no longer accurate.</s>
        </p>
        <p class="mb-0"><ins>
            This line of text is meant to be treated as an addition to the
            document.</ins></p>
        <p class="mb-0">
          <u>This line of text will render as underlined</u>
        </p>
        <p class="mb-0"><small>This line of text is meant to be treated as fine print.</small></p>
        <p class="mb-0"><strong>This line rendered as bold text.</strong></p>
        <p class="mb-0"><em>This line rendered as italicized text.</em></p>
      </div>
    </div>
  </div>
