<div class="card">
    <div class="card-header">
        <h4>Select sizing</h4>
        <p class="f-m-light mt-1"> <code>.form-select</code> to trigger the custom styles. You may also choose from
            small and large custom selects to match our similarly sized text inputs. class:-
            <code>[form-select-lg/form-select-sm]</code>.</p>
    </div>
    <div class="card-body">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected="">What's Your Hobbies </option>
            <option value="1">Kho-kho</option>
            <option value="2">Reading Books</option>
            <option value="3">Creativity</option>
        </select>
    </div>
</div>