<table style="width: 100%; border-spacing: 4px; margin-bottom: 20px;">
  <tbody>
    <tr>
      <td class="invoice-table-data" style="padding: 15px 25px;">
        <p style="font-size:16px; font-weight:500; color:#52526C; opacity:0.8; margin:0;line-height: 2;">Date :</p><span
          style="font-size: 18px; font-weight: 600;">10 Mar, 2024</span>
      </td>
      <td class="invoice-table-data" style="padding: 15px 25px;">
        <p style="font-size:16px; font-weight:500; color:#52526C; opacity:0.8; margin:0;line-height: 2;">Invoice No :
        </p><span style="font-size: 18px; font-weight: 600;">#VL25000365</span>
      </td>
      <td class="invoice-table-data" style="padding: 15px 25px;">
        <p style="font-size:16px; font-weight:500; color:#52526C; opacity:0.8; margin:0;line-height: 2;">Account No :
        </p><span style="font-size: 18px; font-weight: 600;">0981234098765</span>
      </td>
      <td class="invoice-table-data" style="padding: 15px 25px;">
        <p style="font-size:16px; font-weight:500; color:#52526C; opacity:0.8; margin:0;line-height: 2;">Due Amount :
        </p><span style="font-size: 18px; font-weight: 600;">$7860.00 </span>
      </td>
    </tr>
  </tbody>
</table>