<div class="card height-equal">
    <div class="card-header">
        <h4>Horizontal style</h4>
        <p class="f-m-light mt-1">horizontal style in mega-options. Use the <code>.mega-horizontal</code> class through
            created horizontal alignments.</p>
    </div>
    <div class="card-body">
        <form class="mega-horizontal">
            <div class="row">
                @for(item of horizontalStyleData; track item){
                <div class="col-sm-3">
                    <p class="f-w-700 mega-title">{{item.title}}</p>
                </div>
                @for(data of item.item; track data){
                    <div class="col-sm-9 {{data.class}}">
                        <div class="card">
                            <div class="d-flex p-20">
                                <div class="form-check radio radio-{{data.border}} m-0 w-100">
                                    <input class="form-check-input" id="{{data.id}}" type="radio" name="radio22" value="option1" [checked]="data.value">
                                    <label class="form-check-label mb-0 w-100" for="{{data.id}}">
                                        <span class="flex-grow-1 megaoption-space">
                                            <span class="f-w-700 mt-0 mega-title-badge">{{data.badge}}
                                                <span class="badge badge-{{data.border}} pull-right
                                                        digits">{{data.digits}}</span>
                                            </span>
                                            <span>{{data.des}}</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                   }
               }
                    <div class="col-sm-3">
                        <p class="mega-title">Buying Option</p>
                    </div>
                    <div class="col-sm-9">
                        <div class="card">
                            <div class="d-flex p-20">
                                <div class="form-check radio radio-success m-0 w-100">
                                    <input class="form-check-input" id="radio32" type="radio" name="radio23" value="option1">
                                    <label class="form-check-label mb-0 w-100" for="radio32">
                                        <span class="flex-grow-1"><span class="mt-0 mega-title-badge">Pixelstrap
                                                <span class="badge badge-success pull-right digits">250 INR</span>
                                            </span>
                                            <span class="rating-star-wrapper">
                                                <i class="icofont icofont-star txt-warning"></i>
                                                <i class="icofont icofont-star txt-warning"></i>
                                                <i class="icofont icofont-star txt-warning"></i>
                                                <i class="icofont icofont-star txt-warning"></i>
                                                <i class="icofont icofont-star txt-warning m-r-5"></i>
                                                5 start rating
                                            </span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 offset-sm-3">
                        <div class="card mb-0">
                            <div class="d-flex p-20">
                                <div class="form-check radio radio-info m-0 w-100">
                                    <input class="form-check-input" id="radio33" type="radio" name="radio23" value="option1" checked="">
                                    <label class="form-check-label mb-0 w-100" for="radio33">
                                        <span class="flex-grow-1">
                                            <span class="mt-0 mega-title-badge">Tivo
                                                <span class="badge badge-info pull-right digits">150 INR</span>
                                            </span>
                                            <span class="rating-star-wrapper">
                                                <i class="icofont icofont-star txt-warning"></i>
                                                <i class="icofont icofont-star"></i>
                                                <i class="icofont icofont-star"></i>
                                                <i class="icofont icofont-star"></i>
                                                <i class="icofont icofont-star m-r-5"></i>
                                                1 start rating
                                            </span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </form>
    </div>
    <div class="card-footer text-end">
        <button class="btn btn-primary m-r-15" type="submit">Submit</button>
        <button class="btn btn-light" type="submit">Cancel</button>
    </div>
</div>