<div class="card-wrapper border rounded-3 light-card checkbox-checked">
  <h6 class="pb-3 f-w-500">Default Input Mask</h6>
  <form class="row g-3">
    <div class="col-xxl-4 col-sm-6">
      <label class="col-form-label" for="cleave-number-format">Currency</label>
      <input class="form-control" id="cleave-number-format" type="text" placeholder="Enter number">
    </div>
    <div class="col-xxl-4 col-sm-6">
      <label class="col-form-label" for="cleave-type-prefix">Prefix</label>
      <input class="form-control" id="cleave-type-prefix" type="text" placeholder="Prefix-xxxx-xxxx-xxxx">
    </div>
    <div class="col-xxl-4 col-sm-6">
      <label class="col-form-label" for="cleave-type-delimiter">Delimiter</label>
      <input class="form-control" id="cleave-type-delimiter" type="text" placeholder="xxx·xxx·xxx">
    </div>
    <div class="col-xxl-4 col-sm-6">
      <label class="form-label" for="cleave-phone-number">Phone Number</label>
      <input class="form-control" id="cleave-phone-number" type="text" placeholder="(xxx)xxx-xxxx">
    </div>
    <div class="col-xxl-4 col-sm-6">
      <label class="form-label" for="cleave-card-number">Card Number</label>
      <input class="form-control" id="cleave-card-number" type="text" placeholder="xxxx xxxx xxxx xxxx">
    </div>
    <div class="col-xxl-4 col-sm-6">
      <label class="form-label" for="tailprefix">Tailprefix</label>
      <input class="form-control" id="tailprefix" type="text" placeholder="0000.00€">
    </div>
  </form>
</div>