<table style="width: 100%;">
  <tbody>
    <tr style="padding: 28px 0 5px; display: flex; justify-content: space-between;">
      <td>
        <h4 style="font-size:42px; font-weight: 600; margin:0;">INVOICE</h4>
        <ul style="list-style: none; display: flex; gap:15px; padding: 0; margin: 20px 0;">
          <li class="invoice-text"><span style=" font-size: 18px; font-weight: 600; opacity: 0.8;">Invoice to :</span>
          </li>
          <li class="invoice-text"><span
              style="font-weight:600;font-size: 18px;  display: block; margin-bottom: 8px;">Brooklyn Simmons</span><span
              style="width: 75%; display:block; line-height: 1.5;  font-size: 18px; font-weight: 400;opacity: 0.8;">2972
              Westheimer Rd. Santa Ana, Illinois 85486 </span><span
              style="line-height:1.9;  font-size: 18px; font-weight: 400;opacity: 0.8; display:block;">Phone : (219)
              555-0114</span><span
              style="line-height:1.7;  font-size: 18px; font-weight: 400;opacity: 0.8; display:block;">Email :
              yourmail&#64;themesforest.com</span><span
              style="line-height:1.7;  font-size: 18px; font-weight: 400;opacity: 0.8; display:block;">Website:
              www.websites.com</span></li>
        </ul>
      </td>
      <td> <img class="img-fluid for-light" src="assets/images/logo/logo_dark.png" alt="logo-light"><img
          class="img-fluid for-dark" src="assets/images/logo/logo.png" alt="logo-dark"><span
          style="display:block; line-height: 1.5;  font-size: 18px; font-weight: 400;opacity: 0.8;">2118 Thornridge Cir.
          Syracuse, Connecticut 35624, United State</span><span
          style="display:block; line-height: 1.5;  font-size: 18px; font-weight: 400;opacity: 0.8;">Phone : (239)
          555-0108</span><span
          style="display:block; line-height: 1.5;  font-size: 18px; font-weight: 400;opacity: 0.8;">Email :
          Riho&#64;themesforest.com</span><span
          style="display:block; line-height: 1.5;  font-size: 18px; font-weight: 400;opacity: 0.8;">Website:
          www.Rihothemes.com</span></td>
    </tr>
  </tbody>
</table>