<div class="card">
    <div class="card-header">
        <h4>Tooltip  directions</h4>
        <p class="f-m-light mt-1">
           Use the <code>btn-*</code> to change dark background color and<code> data-bs-placement='*'</code>[top/right/bottom/left] to tooltip direction change.</p>
    </div>
    <div class="card-body">
        <div class="common-flex">
            <button class="btn btn-primary mb-0 me-0" type="button" placement="top" ngbTooltip="Tooltip on top">Tooltip
                on
                top</button>
            <button class="btn btn-secondary mb-0 me-0" type="button" placement="end"
                ngbTooltip="Tooltip on right">Tooltip
                on right</button>
            <button class="btn btn-success mb-0 me-0" type="button" placement="bottom"
                ngbTooltip="Tooltip on bottom">Tooltip
                on bottom</button>
            <button class="btn btn-warning mb-0 me-0" type="button" placement="start"
                ngbTooltip="Tooltip on left">Tooltip on
                left</button>
        </div>
    </div>
</div>