<div class="card b-r-0">
    <div class="card-header pb-0">
        <h4>Flat Card</h4>
        <p class="f-m-light mt-1">For flat cards, make the<code>.b-r-0[border-radius:0]</code>used class.</p>
    </div>
    <div class="card-body">
        <p class="mb-0">A navigation bar is a particularly important feature because it allows visitors to quickly
            and easily find<em class="txt-danger"> important pages on your website</em> , like your blog, product pages,
            pricing, contact info, and documentation. This improves the chances of visitors browsing your site
            longer,
            which can boost your page views and reduce your bounce rate.</p>
    </div>
</div>


