<div class="card height-equal">
    <div class="card-header">
        <h4> Heading dropdown</h4>
        <p class="f-m-light mt-1">Main heading and any sub-content in dropdown.</p>
    </div>
    <div class="card-body rtl-dropdown">
        <div class="common-flex">
            <div class="btn-group" ngbDropdown>
                <button class="btn btn-success  rounded-pill dropdown-toggle" type="button"
                    ngbDropdownToggle>Party</button>
                <ul class="dropdown-menu dropdown-block" ngbDropdownMenu>
                    <li class="border-bottom border-2">
                        <a class="dropdown-item fw-bold fs-6 bg-light" href="javascript:void(0)" ngbDropdownItem>Party
                            List </a>
                    </li>
                    <ul>
                        <li> <a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Balloons</a></li>
                        <li> <a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Cake </a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>