<div class="container-fluid">
    <div class="row">
        <app-common-top-lists></app-common-top-lists>
        <div class="col-xxl-6 col-12 box-col-12">
            <app-contextual-classes></app-contextual-classes>
        </div>
        <div class="col-xl-6 col-12 box-col-6">
            <app-horizontal-lists></app-horizontal-lists>
        </div>
        <div class="col-md-12">
            <app-custom-content-lists></app-custom-content-lists>
        </div>
        <div class="col-xxl-4 col-md-6">
            <app-lists-checkbox></app-lists-checkbox>
        </div>
        <div class="col-xxl-4 col-md-6">
            <app-lists-radios></app-lists-radios>
        </div>
        <div class="col-xxl-4 col-12">
            <app-lists-number></app-lists-number>
        </div>
        <div class="col-sm-12 col-xl-12">
            <app-java-script-behavior></app-java-script-behavior>
        </div>
        <div class="col-xxl-4 col-md-6">
            <app-numbered-badge-lists></app-numbered-badge-lists>
        </div>
        <div class="col-xxl-4 col-md-6">
            <app-disabled-lists></app-disabled-lists>
        </div>
        <div class="col-xxl-4">
            <app-scrollable-lists></app-scrollable-lists>
        </div>
    </div>
</div>