<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title fs-5">Create new category</h3>
        <button class="btn-close" type="button" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body custom-input">
        <div class="create-category">
            <div>
                <label class="form-label" for="categoryName">Category Name
                    <span class="txt-danger"> *</span>
                </label>
                <input class="form-control m-0" id="categoryName" type="text" required="">
                <div class="toolbar-box">
                    <div id="editor3">
                        <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>
                    </div>
                </div>
            </div>
            <p class="f-light">Improve product visibility by adding a compelling
                description.</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-light" type="button" (click)="activeModal.dismiss()">Cancel</button>
        <button class="btn btn-primary" type="button">Add</button>
    </div>
</div>