<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-grid-options></app-grid-options>
        </div>
        <div class="col-sm-12">
            <app-grid-column></app-grid-column>
        </div>
        <div class="col-sm-12">
            <app-vertical-alignment></app-vertical-alignment>
        </div>
        <div class="col-sm-12">
            <app-horizontal-alignment></app-horizontal-alignment>
        </div>
        <div class="col-sm-12">
            <app-nesting></app-nesting>
        </div>
        <div class="col-sm-12">
            <app-order></app-order>
        </div>
        <div class="col-sm-12">
            <app-offset></app-offset>
        </div>
    </div>
</div>