<table style="width: 100%; border-spacing:0;">
  <thead>
    <tr style="background: #006666;">
      <th style="padding: 18px 15px;text-align: left; position: relative; border-top-left-radius: 10px;"><span
          style="color: #fff; font-size: 18px; font-weight: 600;">Description</span></th>
      <th style="padding: 18px 15px;text-align: center"><span
          style="color: #fff; font-size: 18px; font-weight: 600;">Unite Price</span></th>
      <th style="padding: 18px 15px;text-align: center"><span
          style="color: #fff; font-size: 18px; font-weight: 600;">Quantity</span></th>
      <th style="padding: 18px 15px;text-align: center;position: relative; border-top-right-radius: 10px;"><span
          style="color: #fff; font-size: 18px; font-weight: 600;">Subtotal</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="padding: 30px;">
        <h4 style="font-weight:600; margin:4px 0px; font-size: 18px; ">Proposal & Brochure Design</h4><span
          style="opacity: 0.8; font-size: 16px;">Regular License</span>
      </td>
      <td style="width: 12%; text-align: center;"><span style="opacity: 0.8;">$300.00</span></td>
      <td style="width: 12%; text-align: center;"> <span style="opacity: 0.8;">1</span></td>
      <td style="width: 12%; text-align: center;"> <span style=" font-weight: 600;opacity: 0.9;">$300.00</span></td>
    </tr>
    <tr>
      <td style="padding: 0 30px 30px;">
        <h4 style="font-weight:600; margin:4px 0px; font-size: 18px; ">Web design and development</h4><span
          style="opacity: 0.8; font-size: 16px;">Regular License</span>
      </td>
      <td style="width: 12%; text-align: center;"><span style="opacity: 0.8;">$400.00</span></td>
      <td style="width: 12%; text-align: center;"> <span style="opacity: 0.8;">2</span></td>
      <td style="width: 12%; text-align: center;"> <span style=" font-weight: 600;opacity: 0.9;">$800.00</span></td>
    </tr>
    <tr>
      <td style="padding: 0 30px 30px;">
        <h4 style="font-weight:600; margin:4px 0px; font-size: 18px; ">Logo & Brand design</h4><span
          style="opacity: 0.8; font-size: 16px;">Regular License</span>
      </td>
      <td style="width: 12%; text-align: center;"><span style="opacity: 0.8;">$240.00</span></td>
      <td style="width: 12%; text-align: center;"> <span style="opacity: 0.8;">2</span></td>
      <td style="width: 12%; text-align: center;"> <span style=" font-weight: 600;opacity: 0.9;">$4800.00</span></td>
    </tr>
    <tr>
      <td style="padding: 0 30px 30px;">
        <h4 style="font-weight:600; margin:4px 0px; font-size: 18px; ">Stationary Design</h4><span
          style="opacity: 0.8; font-size: 16px;">Regular License</span>
      </td>
      <td style="width: 12%; text-align: center;"><span style="opacity: 0.8;">$100.00</span></td>
      <td style="width: 12%; text-align: center;"> <span style="opacity: 0.8;">1</span></td>
      <td style="width: 12%; text-align: center;"> <span style=" font-weight: 600;opacity: 0.9;">$100.00</span></td>
    </tr>
  </tbody>
</table>