<button class="btn btn-success" type="button" (click)="LargeModal(largeContent)">Large
    Modal</button>
<ng-template #largeContent let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myExtraLargeModal">Large modal</h4>
            <button class="btn-close py-0" type="button" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body dark-modal">
            <div class="large-modal-header">
                <app-feathericon [icon]="'chevrons-right'"></app-feathericon>
                <h6>Start with your goals </h6>
            </div>
            <p class="modal-padding-space mb-0">No matter how talented you are as a content writer or creator, you will
                always fail if you don't have a clear set of goals.</p>
            <p class="modal-padding-space mb-0">First of all, without goals, there is no way to determine your success.
                Additionally, you lack direction.</p>
            <p class="modal-padding-space mb-0">Together with your team, respond to the following questions to make
                sure
                they are:</p>
            <div class="large-modal-body">
                <app-feathericon [icon]="'corner-up-right'"></app-feathericon>
                <p class="ps-1">What must you achieve, and by when?</p>
            </div>
            <div class="large-modal-body">
                <app-feathericon [icon]="'corner-up-right'"></app-feathericon>
                <p class="ps-1">How will you evaluate your level of success?</p>
            </div>
            <div class="large-modal-body">
                <app-feathericon [icon]="'corner-up-right'"></app-feathericon>
                <p class="ps-1">Can you accomplish it with the available resources?</p>
            </div>
            <div class="large-modal-body">
                <app-feathericon [icon]="'corner-up-right'"></app-feathericon>
                <p class="ps-1">Does it advance your core business aims? </p>
            </div>
        </div>
    </div>
</ng-template>
