<div class="card">
    <div class="card-header">
        <h4> Basic Area Chart</h4>
    </div>
    <div class="card-body">
        <div id="basic-apex">
            <apx-chart [chart]="BasicAreaChart.chart" [series]="BasicAreaChart.series" [colors]="BasicAreaChart.colors"
            [dataLabels]="BasicAreaChart.dataLabels" [xaxis]="BasicAreaChart.xaxis" [yaxis]="BasicAreaChart.yaxis"
            [stroke]="BasicAreaChart.stroke" [labels]="BasicAreaChart.labels" [legend]="BasicAreaChart.legend">
        </apx-chart>
        </div>
    </div>
</div>