<div class="card">
    <div class="card-header">
        <h4>Fullscreen modal</h4>
        <p class="f-m-light mt-1">Another override is the option to pop up a modal that covers the user viewport,
            available via modifier classes that are placed on a<code> .modal-dialog</code>. </p>
    </div>
    <div class="card-body badge-spacing">
        <app-fullscreen-ui-modal></app-fullscreen-ui-modal>
        <app-fullscreen-sm-modal></app-fullscreen-sm-modal>
        <app-fullscreen-lg-modal></app-fullscreen-lg-modal>
        <app-fullscreen-md-modal></app-fullscreen-md-modal>
        <app-fullscreen-xl-modal></app-fullscreen-xl-modal>
        <app-fullscreen-xxl-modal></app-fullscreen-xxl-modal>
    </div>
</div>