<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Create Tag</h3>
        <button class="btn-close" type="button" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form class="form-bookmark needs-validation" novalidate="">
            <div class="row g-2">
                <div class="mb-3 mt-0 col-md-12">
                    <label>Tag Name</label>
                    <input class="form-control" type="text" required="" autocomplete="off">
                </div>
                <div class="mb-3 mt-0 col-md-12">
                    <label>Tag color</label>
                    <input class="form-color d-block" type="color" value="#FFAE1A">
                </div>
            </div>
            <button class="btn btn-secondary" type="button" style="margin-right: 4px;">Save</button>
            <button class="btn btn-primary" type="button" (click)="activeModal.dismiss()">Cancel</button>
        </form>
    </div>
</div>