<div class="card" (clickOutside)="clickOutside()">
    <div class="card-header card-no-border total-revenue">
        <h4>Activity Log </h4>
        <div class="sales-chart-dropdown-select">
            <div class="card-header-right-icon online-store">
                <div class="dropdown">
                    <button class="btn dropdown-toggle dropdown-toggle-store" id="dropdownMenuButtonToggle"
                      (click)="open()">Online Store</button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonToggle" role="menu"
                      [class.show]="isopen">
                      <span class="dropdown-item">All </span>
                      <span class="dropdown-item">Employee</span>
                      <span class="dropdown-item">Client</span>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-0">
        <div class="activity-log-card">
            <ul>
                @for(data of activityLogData; track data){
                    <li class="activity-log">
                        <div class="d-flex align-items-start gap-2">
                            <img class="activity-log-img rounded-circle img-fluid me-2" src="{{ data.img}}"
                                alt="user" />
                            <div>
                                <div class="common-space user-id">
                                    <h6> <a class="f-w-500 f-12" [routerLink]="['/user/users-profile']">{{ data.name}}</a></h6><span
                                        class="f-light f-w-500 f-12">{{ data.time}}</span>
                                </div>
                                <div class="d-flex mb-2">
                                    <span class="f-light f-w-500 f-12">{{ data.title}} : </span>
                                    <a class="f-w-500 f-12" [routerLink]="['/blog/blog-details']">{{ data.data }}</a>
                                </div>
                                <span class="f-light f-w-500 f-12 d-block">{{ data.des}}</span>
                                <a class="f-12 f-w-500 username" [routerLink]="['/user/users-profile']"></a>
                            </div>
                        </div>
                    </li>
            }
            </ul>
        </div>
    </div>
</div>