<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-button-addons></app-button-addons>
        </div>
        <div class="col-md-6">
            <app-custom-forms></app-custom-forms>
        </div>
        <div class="col-xl-6">
            <app-custom-file-input></app-custom-file-input>
        </div>
        <div class="col-xl-6">
            <app-buttons-with-dropdowns></app-buttons-with-dropdowns>
        </div>
        <div class="col-md-6">
            <app-segmented-buttons></app-segmented-buttons>
        </div>
        <div class="col-md-6">
            <app-checkboxes-radios></app-checkboxes-radios>
        </div>
        <div class="col-md-6">
            <app-sizing></app-sizing>
        </div>
        <div class="col-md-6">
            <app-multiple-inputs></app-multiple-inputs>
        </div>
        <div class="col-xl-6">
            <app-basic-input-groups></app-basic-input-groups>
        </div>
        <div class="col-xl-6">
            <app-variation-addons></app-variation-addons>
        </div>
    </div>
</div>