<div class="card">
    <div class="card-header">
      <h4 class="mb-0">Text color</h4>
      <p class="f-m-light mt-1">You can Give text color by using <code>txt-*</code> class</p>
    </div>
    <div class="card-body">
      <div class="d-flex flex-column gap-2">
        <p class="txt-primary mb-0">This is Primary text You can archive this adding<code>.txt-primary</code> class</p>
        <p class="txt-secondary mb-0">This is Secondary text You can archive this adding<code>.txt-secondary</code> class</p>
        <p class="txt-success mb-0">This is Success text You can archive this adding<code>.txt-success</code> class</p>
        <p class="txt-info mb-0">This is Info text You can archive this adding<code>.txt-info</code> class</p>
        <p class="txt-warning mb-0">This is Warning text You can archive this adding<code>.txt-warning</code> class</p>
        <p class="txt-danger mb-0">This is Danger text You can archive this adding<code>.txt-danger</code> class</p>
        <p class="txt-dark mb-0">This is Dark text You can archive this adding<code>.txt-dark</code> class</p>
        <p class="txt-primary mb-0">This is Primary text You can archive this adding<code>.txt-primary</code> class</p>
      </div>
    </div>
  </div>