<div class="card">
    <div class="card-header pb-0">
        <h4>Disabled</h4>
        <p class="f-m-light mt-1">
            Use the <code>.range-slider </code> class. and Riho used Ion range
            slider.<code>[http://ionden.com/a/plugins/ion.rangeSlider]</code></p>
    </div>
    <div class="card-body">
        <div class="form-group row py-1">
            <div class="col-md-10">
                <ngx-slider [(value)]="value3" [options]="options4"></ngx-slider>
            </div>
        </div>
    </div>
</div>
