<div class="card">
    <div class="card-header">
      <h4>Disabled lists </h4>
      <p class="f-m-light mt-1">
         Use<code> .disabled </code>to a <code>.list-group-item</code> to make it appear disabled.</p>
    </div>
    <div class="card-body"> 
        @for(disableitem of disableData; track disableitem){
        <div class="list-group">
            <a class="list-group-item list-group-item-action {{disableitem.class}}" href="javascript:void(0)">
                <img class="rounded-circle" src="{{disableitem.img}}" alt="user">
                {{disableitem.name}}
            </a>
        </div>
    }
    </div>
  </div>
