<div class="card">
    <div class="card-header pb-0">
        <h4><i class="icofont icofont-library me-2"></i> Icon In Heading</h4>
        <p class="f-m-light mt-1">Use the any icons for heading. <code>[font-awesome/ico-font/feather]</code>.</p>
    </div>
    <div class="card-body">
        <div class="d-flex gap-3 align-items-center list-behavior-1">
            <div class="flex-shrink-0"><img class="tab-img img-fluid" src="assets/images/blog/img.png" alt="home"></div>
            <div class="flex-grow-1 ms-0">
                <p class="mb-xl-0 mb-sm-4">We provide end to end digital solutions, right from designing your
                    website/application development: Domain, Web Hosting, Email Hosting Registration, Search Engine
                    Optimization and other Internet Marketing, Renewal of Services timely and effectively.</p>
            </div>
        </div>
    </div>
</div>
