<table style="width: 100%;background-image: url(assets/images/email-template/invoice-3/bg-0.png);background-position: center;background-size: cover;background-repeat: no-repeat; border-radius: 10px;">
    <tbody> 
      <tr>
        <td style="padding: 30px 0px 30px 30px;"><img src="assets/images/logo/logo_dark.png" alt="logo">
          <address style="opacity: 0.8; width: 36%; margin-top: 10px; font-style:normal;"><span style="font-size: 18px; line-height: 1.5; font-weight: 500;">
              1982 Harvest Lane New York, NY12210 
               United State</span></address>
        </td>
        <td style="text-align:end; padding:30px 30px 30px 0;"><span style="display:block; line-height: 1.5; font-size:18px; color: #fff; font-weight:700;">Invoice</span><span style="display:block; line-height: 1.5; font-size:18px; color: #fff; font-weight:500;">Receipt #1923195</span><span style="display:block; line-height: 1.5; font-size:18px; color: #fff; font-weight:500;">May 02, 2024</span></td>
      </tr>
    </tbody>
  </table>
