<div class="col-12">
    <div class="card">
        <div class="card-header"> 
            <h4>Riho custom modals  </h4>
            <p class="f-m-light mt-1">
               Custom Modal make by Riho.</p>
          </div>
        <div class="card-body">
            <div class="row g-3">
                <div class="col-xl-4 col-md-6 custom-alert text-center">
                    <app-profile-modal></app-profile-modal>
                </div>
                <div class="col-xl-4 col-md-12 custom-alert text-center">
                    <app-result-modal></app-result-modal>
                </div>
                <div class="col-xl-4 col-md-6 custom-alert text-center">
                    <app-balance-modal></app-balance-modal>
                </div>
            </div>
        </div>
    </div>
</div>
