<div class="card">
    <div class="card-header">
      <h4>JavaScript behavior</h4>
      <p class="f-m-light mt-1">
         Use the tab JavaScript plugin—include it individually or through the compiled<code> bootstrap.js </code>file to extend our list group to create table panes of local content.</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="list-group" id="list-tab" role="tablist" ngbNav #nav="ngbNav" [(activeId)]="active">
                    <ng-container [ngbNavItem]="1">
                        <a class="list-group-item list-group-item-action bg-primary " id="list-home-list"
                            ngbNavLink>Home</a>
                        <ng-template ngbNavContent>
                            <div class="tab-pane fade show" id="list-home">
                                <div class="d-flex mb-xl-4 list-behavior-1">
                                    <div class="flex-shrink-0"><img class="tab-img img-fluid"
                                            src="assets/images/blog/img.png" alt="home">
                                    </div>
                                    <div class="flex-grow-1">
                                        <p class="mb-xl-0 mb-sm-4">We provide end to end digital solutions, right from
                                            designing your website/application development: Domain, Web Hosting, Email Hosting
                                             Registration,Search Engine Optimization and other Internet Marketing,Renewal of Servicestimely and effectively.
                                        </p>
                                    </div>
                                </div>
                                <div class="d-xl-flex list-behavior-2">
                                    <div class="flex-grow-1">
                                        <p class="mb-0">When someone visits your homepage, your design should inspire them to stay. Therefore, your value proposition should be established on the
                                            homepage for visitors to select to stay on your website.Buildingtrust,expressing value,and guidingvisitors to the next step all depend
                                            on a page's design.
                                        </p>
                                    </div>
                                    <div class="flex-shrink-0"> <img class="tab-img img-fluid"
                                            src="assets/images/blog/blog.jpg" alt="home">
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-container [ngbNavItem]="2">
                        <a class="list-group-item list-group-item-action list-hover-primary" id="list-profile-list"
                            ngbNavLink>Profile</a>
                        <ng-template ngbNavContent>
                            <div class="tab-pane fade show dark-list" id="list-profile">
                                <div class="mb-0">
                                    <div class="flex-space flex-wrap align-items-center list-light-dark"><img
                                            class="tab-img" src="assets/images/avtar/3.jpg" alt="profile">
                                        <p> <strong>Visit Us: </strong> 2600 Hollywood Blvd,Florida, United States-33020<br><strong>Mail Us:</strong>
                                             contact&#64;us&#64;gmail.com<br><strong>ContactNumber:</strong>(954) 357-7760
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-container [ngbNavItem]="3">
                        <a class="list-group-item list-group-item-action list-hover-primary" id="list-messages-list"
                            ngbNavLink>Contact
                            Us</a>
                        <ng-template ngbNavContent>
                            <div class="tab-pane fade show" id="list-messages" role="tabpanel"
                                aria-labelledby="list-messages-list">
                                <p class="pt-3">Us Technology offers web & mobile development solutions for all industry
                                    verticals.Include a short form using fields that'll help your business understand
                                    who's contacting them.<br><strong>Visit Us: </strong> 2600 Hollywood Blvd,Florida,
                                    United States- 33020<br><strong>Mail Us:</strong>contact&#64;us&#64;gmail.com<br><strong>
                                    ContactNumber:</strong>(954) 357-7760</p>
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-container [ngbNavItem]="4">
                        <a class="list-group-item list-group-item-action list-hover-primary" id="list-settings-list"
                            ngbNavLink>Settings
                        </a>
                        <ng-template ngbNavContent>
                            <div class="tab-pane fade show" id="list-settings">
                                <p><strong>Available pages in Theme: </strong><br>--> Typography:Typography is the
                                    art of arranging letters and text in a way that makes the copy legible, clear, and
                                    visually appealing to the reader.<br>--> Tooltip:A tooltip is a brief,
                                    informative message that appears when a user interacts with an element in a
                                    graphical userinterface (GUI).
                                </p>
                            </div>
                        </ng-template>
                    </ng-container>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="tab-content" id="nav-tabContent">
                    <div [ngbNavOutlet]="nav" class="mt-4"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
