<div class="card-wrapper border rounded-3 light-card checkbox-checked">
    <h6 class="pb-3 f-w-500">Time Format</h6>
    <form class="row g-3">
      <div class="col-12">
        <label class="col-form-label" for="cleave-time1">Time format type</label>
        <input class="form-control" id="cleave-time1" type="text" placeholder="hh:mm:ss">
      </div>
      <div class="col-12"> 
        <label class="col-form-label" for="cleave-time2">Hour/month type</label>
        <input class="form-control" id="cleave-time2" type="text" placeholder="hh:mm">
      </div>
    </form>
  </div>