<div class="row">
    @for(data of jobCardsData | slice:0:4; track data){
    <div class="col-xl-6 box-col-6">
        <div class="card">
            <div class="job-search">
                <div class="card-body">
                    <div class="d-flex">
                        <img class="img-40 img-fluid m-r-20" src="{{ data.image }}" alt="">
                        <div class="flex-grow-1">
                            <h6 class="f-w-600">
                                <a href="javascript:void(0)">{{ data.title }}</a>
                                <span class="badge badge-primary pull-right">{{ data.tagTitle }}</span>
                            </h6>
                            <p>{{ data.subTitle }}
                                <span>
                                    <ngb-rating class="font-warning" [rate]="data.rating"></ngb-rating>
                                </span>
                            </p>
                        </div>
                    </div>
                    <p>{{ data.desc }}</p>
                </div>
            </div>
        </div>
    </div>
    }
    <div class="col-xl-12">
        <div class="card">
            <div class="job-search">
                <div class="card-body">
                    <div class="d-flex">
                        <img class="img-40 img-fluid m-r-20" src="assets/images/job-search/3.jpg" alt="">
                        <div class="flex-grow-1">
                            <h6 class="f-w-600">
                                <a href="javascript:void(0)">Senior UX designer</a>
                                <span class="pull-right">5 days ago</span>
                            </h6>
                            <p> Sutherland <span>Lelystad, Netherlands </span>
                                <span><ngb-rating class="font-warning" [rate]="rating"></ngb-rating></span>
                            </p>
                        </div>
                    </div>
                    <p>Woody equal ask saw sir weeks aware decay. Entrance prospect removing we packages strictly is no
                        smallest he. For hopes may chief get hours day rooms. Oh no turned behind polite piqued enough
                        at. Forbade few through inquiry blushes you. Cousin no itself eldest it in dinner latter missed
                        no.</p>
                </div>
            </div>
        </div>
    </div>
</div>