<div class="card height-equal">
    <div class="card-header">
        <h4>Pagination With Active And Disabled</h4>
        <p class="f-m-light mt-1">Use <code>.disabled </code>for links that appear un-clickable and<code> .active</code>
            to indicate the current page.</p>
    </div>
    <div class="card-body">
        <nav aria-label="...">
            <ul class="pagination pagination-success pagin-border-success">
                <li class="page-item disabled"><a class="page-link" href="javascript:void(0)" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                <li class="page-item active"><a class="page-link" href="javascript:void(0)">2 <span
                            class="sr-only">(current)</span></a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
            </ul>
        </nav>
    </div>
</div>