<div class="container-fluid">
    <div class="row">
        <div class="col-xl-5 b-center bg-size"
            style="background-image: url(assets/images/login/3.jpg); background-size: cover; background-position: center center; display: block;">
        </div>
        <div class="col-xl-7 p-0">
            <div class="login-card login-dark">
                <div>
                    <div>
                        <a class="logo text-start" [routerLink]="['/dashboard/default']">
                            <img class="img-fluid for-dark" src="assets/images/logo/logo.png" alt="looginpage">
                            <img class="img-fluid for-light" src="assets/images/logo/logo_dark.png" alt="looginpage">
                        </a>
                    </div>
                    <app-common-login-form></app-common-login-form>
                </div>
            </div>
        </div>
    </div>
</div>