
  <div class="card">
    <div class="profile-img-style">
        <div class="row">
          <div class="col-sm-8">
            <div class="media"><img class="img-thumbnail rounded-circle me-3" src="assets/images/user/7.jpg" alt="Generic placeholder image">
              <div class="media-body align-self-center">
                <h5 class="mt-0 user-name">JOHAN DIO</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-4 align-self-center">
            <div class="float-sm-end"><small>10 Hours ago</small></div>
          </div>
        </div>
        <hr>
        <p>you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
        <div class="row mt-4 pictures my-gallery" id="aniimated-thumbnials-2" itemscope="">
            <figure class="col-sm-6 m-0 pb-4" itemprop="associatedMedia" itemscope=""><a
                    href="assets/images/other-images/profile-style-img3.png" itemprop="contentUrl"
                    data-size="1600x950"><img class="img-fluid rounded"
                        src="assets/images/other-images/profile-style-img.png" itemprop="thumbnail" alt="gallery"></a>
            </figure>
            <figure class="col-sm-6 m-0 pb-4" itemprop="associatedMedia" itemscope=""><a
                    href="assets/images/other-images/profile-style-img3.png" itemprop="contentUrl"
                    data-size="1600x950"><img class="img-fluid rounded"
                        src="assets/images/other-images/profile-style-img.png" itemprop="thumbnail" alt="gallery"></a>
            </figure>
        </div>
        <div class="like-comment">
          <ul class="list-inline">
            <li class="list-inline-item border-right pe-3">
              <label class="m-0"><a href="javascript:void(0)"><i class="fa fa-heart"></i></a>  Like</label><span class="ms-2 counter">2659</span>
            </li>
            <li class="list-inline-item ms-2">
              <label class="m-0"><a href="javascript:void(0)"><i class="fa fa-comment"></i></a>  Comment</label><span class="ms-2 counter">569</span>
            </li>
          </ul>
        </div>
     </div>
  </div>
