<div class="meta-body">
    <form>
        <div class="row g-3">
            <div class="col-12">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <div class="row custom-input">
                            <div class="col-12">
                                <label class="form-label" for="tagTitle">Additional Tag Title</label>
                            </div>
                            <div class="col-12">
                                <input class="form-control" id="tagTitle" type="text">
                                <p class="f-light">Add a new tag title. Keywords should be simple and
                                    accurate.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row product-tag">
                            <label class="form-label col-12">Specific Tags</label>
                            <div class="col-12">
                                <input id="specificTag" class="form-control" name="basic-tags1"
                                    value="watches, sports, clothes, bottles">
                            </div> 
                        </div> 
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <label class="form-label col-12">Additional Description</label>
                                <div class="toolbar-box">
                                    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>
                                </div>
                                <p class="f-light">Enhance your SEO ranking with an added tag description
                                    for the product.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-buttons">
            <div class="btn">
                <div class="d-flex align-items-center gap-sm-2 gap-1">
                    <svg>
                        <use href="assets/svg/icon-sprite.svg#back-arrow"></use>
                    </svg>Previous
                </div>
            </div>
            <div class="btn">
                <div class="d-flex align-items-center gap-sm-2 gap-1">Next
                    <svg>
                        <use href="assets/svg/icon-sprite.svg#front-arrow"></use>
                    </svg>
                </div>
            </div>
        </div>
    </form>
</div>

