<table style="width:100%;">
  <tbody>
    <tr
      style="display:flex;justify-content:space-between;border-top: 1px solid rgba(82, 82, 108, 0.3);border-bottom: 1px solid rgba(82, 82, 108, 0.3);padding: 25px 0;">
      <td style="display:flex;align-items:center; gap: 6px;"> <span
          style="opacity: 0.8; font-size: 18px; font-weight: 500;">Invoice No.</span>
        <h4 style="margin:0;font-weight:400; font-size: 18px;">#VL25000365</h4>
      </td>
      <td style="display:flex;align-items:center; gap: 6px;"> <span
          style="opacity: 0.8; font-size: 18px; font-weight: 500;">Date : </span>
        <h4 style="margin:0;font-weight:400; font-size: 18px;">09/03/2024</h4>
      </td>
      <td style="display:flex;align-items:center; gap: 6px;"> <span
          style="opacity: 0.8; font-size: 18px; font-weight: 500;">Payment Status :</span>
        <h4
          style="margin:0;font-weight:400; font-size: 18px;padding:6px 18px; background-color:rgba(84, 186, 74, 0.1);color:#54BA4A; border-radius: 5px;">
          Paid</h4>
      </td>
      <td style="display:flex;align-items:center; gap: 6px;"> <span
          style="opacity: 0.8; font-size: 18px; font-weight: 500;">Total Amount :</span>
        <h4 style="margin:0;font-weight:500; font-size: 18px;">$26,410.00</h4>
      </td>
    </tr>
  </tbody>
</table>