<div class="card height-equal">
    <div class="card-header">
        <h4>Variation Of Breadcrumb</h4>
        <p class="f-m-light mt-1">You can set variations breadcrumb using <code>.breadcrumb </code>class through any
            icons sets.</p>
    </div>
    <div class="card-body breadcrumb-space">
        <nav class="breadcrumb breadcrumb-no-divider mb-0 gap-2">
            <a class="breadcrumb-item mb-1 mb-xl-0" href="javascript:void(0)">Home -></a>
            <a class="breadcrumb-item ps-0 mb-1 mb-xl-0" href="javascript:void(0)">Tables -></a>
            <a class="breadcrumb-item ps-0 mb-1 mb-xl-0" href="javascript:void(0)">Bootstrap Tables -></a>
            <span class="breadcrumb-item active ps-0">Basic Tables</span>
        </nav>
    </div>
</div>