<div class="card">
    <div class="card-header">
        <h4>Offset</h4>
        <p class="mt-1 f-m-light">You can offset the grid column using <code>.offset-*</code> grid class.</p>
    </div>
    <div class="card-body grid-showcase">
        <div class="row g-2">
            <div class="col-sm-5 col-4 offset-sm-3 offset-2"><span>col-5 offset-3</span></div>
            <div class="col-sm-2 col-4 offset-sm-2 offset-1"><span>col-2 offset-2</span></div>
            <div class="col-sm-4 col-5 offset-2"><span>col-4 offset-2</span></div>
            <div class="col-sm-3 col-4 offset-sm-2 offset-1"><span>col-3 offset-2</span></div>
        </div>
    </div>
    <div class="card-footer">
        <div class="table-responsive custom-scrollbar">
            <table class="w-100">
                <tbody>
                    <tr>
                        <th> Class</th>
                        <th>Value of the class</th>
                    </tr>
                    <tr>
                        <td><code>.offset-*</code></td>
                        <td> 1 / 2 / ... / 11 / 12</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>