<div class="card height-equal">
    <div class="card-header">
      <h4>Vertical style</h4>
      <p class="f-m-light mt-1">vertical style in mega-options. Use the <code>.mega-vertical </code>class through created vertical alignments.</p>
    </div>
    <div class="card-body">
        <form class="mega-vertical">
            <div class="row">
                <div class="col-sm-12">
                    <p class="mega-title m-b-5">Delivery Option</p>
                </div>
                @for(Data of verticalstyleData; track Data){
                <div class="col-sm-6">
                    <div class="card">
                        <div class="d-flex p-20">
                            <div class="form-check radio radio-{{Data.class}} m-0 w-100">
                                <input class="form-check-input" id="{{Data.id}}" type="radio" name="radio5"
                                    value="option1" [checked]="Data.check">
                                <label class="form-check-label mb-0 w-100" for="{{Data.id}}">
                                    <span class="flex-grow-1 megaoption-space"><span
                                            class="mt-0 mega-title-badge">{{Data.title}}<span class="badge badge-{{Data.class}} pull-right
                                             digits">{{Data.digit}}</span></span><span>{{Data.lable}}</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
              }
                <div class="col-sm-12">
                    <p class="mega-title m-b-5">Buying Option</p>
                </div>
                <div class="col-sm-6 mb-4">
                    <div class="card mb-0">
                        <div class="d-flex p-20">
                            <div class="form-check radio radio-warning m-0 w-100">
                                <input class="form-check-input" id="radio26" type="radio" name="radio7" value="option1"
                                    checked="">
                                <label class="form-check-label mb-0 w-100" for="radio26"><span class="flex-grow-1">
                                    <span class="mt-0 mega-title-badge">Pixelstrap
                                        <span class="badge badge-warning pull-right digits">250 INR</span></span><span class="rating-star-wrapper">
                                            <i class="icofont icofont-star txt-warning"></i>
                                            <i class="icofont icofont-star txt-warning"></i>
                                            <i class="icofont icofont-star txt-warning"></i>
                                            <i class="icofont icofont-star txt-warning"></i>
                                            <i class="icofont icofont-star txt-warning m-r-5"></i>
                                            5 start rating</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-0">
                        <div class="d-flex p-20">
                            <div class="form-check radio radio-danger m-0 w-100">
                                <input class="form-check-input" id="radio27" type="radio" name="radio7" value="option1">
                                <label class="form-check-label mb-0 w-100" for="radio27"><span class="flex-grow-1"><span
                                            class="mt-0 mega-title-badge">Multikart<span
                                                class="badge badge-danger pull-right digits">150
                                                INR</span></span>
                                        <span class="rating-star-wrapper">
                                            <i class="icofont icofont-star txt-warning"></i>
                                            <i class="icofont icofont-star txt-warning"></i>
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star m-r-5">
                                            </i>2 start rating
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    <div class="card-footer text-end">
      <button class="btn btn-primary m-r-15" type="submit">Submit</button>
      <button class="btn btn-light" type="submit">Cancel</button>
    </div>
  </div>
</div>

