<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-basic-form></app-basic-form>
        </div>
        <div class="col-md-6">
            <app-floating-form></app-floating-form>
        </div>
        <div class="col-md-6">
            <app-select-sizing></app-select-sizing>
        </div>
        <div class="col-md-6">
            <app-form-control-sizing></app-form-control-sizing>
        </div>
        <div class="col-md-6">
            <app-file-input></app-file-input>
        </div>
        <div class="col-md-6">
            <app-flat-input-style></app-flat-input-style>
        </div>
        <div class="col-md-6">
            <app-basic-input-control></app-basic-input-control>
        </div>
        <div class="col-md-6">
            <app-basic-floating-input-control></app-basic-floating-input-control>
        </div>
        <div class="col-md-6">
            <app-edges-input-style></app-edges-input-style>
        </div>
        <div class="col-md-6">
       <app-raise-input-style></app-raise-input-style>
        </div>
    </div>
</div>
