<div class="card" ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem [collapsed]="false">
        <div class="card-header" ngbAccordionHeader>
            <h5 class="mb-0">
                <button class="btn btn-link" ngbAccordionButton>Profile Intro</button>
            </h5>
        </div>
        <div class="collapse show" id="collapseicon2" ngbAccordionCollapse>
            <div class="card-body filter-cards-view" ngbAccordionBody>
                <span class="f-w-700 mb-2 d-block">About Me :</span>
                <p>
                    Hi, I’m elana, I’m 30 and I work as a
                    web Designer for the “Daydreams”
                    Agency in Pier 56.
                </p><span class="f-w-700 mb-2 d-block">Favourite TV shows :</span>
                <p>
                    Breaking Good, RedDevil, People of
                    Interest, The Running Dead,
                    Found, American Guy.
                </p><span class="f-w-700 mb-2 d-block">Favourite Music Bands :</span>
                <p>
                    Breaking Good, RedDevil, People of
                    Interest, The Running Dead,
                    Found, American Guy.
                </p>
                <div class="social-network theme-form"><span class="f-w-700">Social Networks</span>
                    <button class="btn social-btn btn-fb mb-2 text-center"><i
                            class="fa fa-facebook m-r-5"></i>Facebook</button>
                    <button class="btn social-btn btn-twitter mb-2 text-center"><i
                            class="fa fa-twitter m-r-5"></i>Twitter</button>
                    <button class="btn social-btn btn-google text-center"><i
                            class="fa fa-dribbble m-r-5"></i>Dribbble</button>
                </div>
            </div>
        </div>
    </div>
</div>
