<div class="card">
    <div class="card-header">
        <h4>Outlined checkbox styles</h4>
        <p class="f-m-light mt-1">
            The choice between these two approaches will depend on the type of toggle you are creating, and whether or
            not the toggle will make sense to users when announced as a checkbox or as an actual button. <code>[multiple
                selected]</code>.</p>
    </div>
    <div class="card-body common-flex main-checkbox-toggle">
        <input class="btn-check" id="btn-check-outlined" type="checkbox">
        <label class="btn btn-outline-info" for="btn-check-outlined">Single toggle</label>
        <input class="btn-check" id="btn-check-2-outlined" type="checkbox" checked="">
        <label class="btn btn-outline-danger" for="btn-check-2-outlined">Checked</label>
        <input class="btn-check" id="success-outlined" type="radio" name="options-outlined" checked="">
        <label class="btn btn-outline-success" for="success-outlined">Checked success radio</label>
        <input class="btn-check" id="danger-outlined" type="radio" name="options-outlined">
        <label class="btn btn-outline-dark" for="danger-outlined">Dark radio</label>
    </div>
</div>
