<div class="card height-equal">
    <div class="card-header">
        <h4>Contextual classes</h4>
        <p class="f-m-light mt-1">Use contextual classes to style list items with a stateful background and
            color.<code>.list-light-*</code> and <code>txt-*</code>.</p>
    </div>
    <div class="card-body">
        @for(contextualitem of contextualData; track contextualitem){
        <div class="list-group">
            <a class="list-group-item list-group-item-action {{contextualitem.class}}" href="javascript:void(0)"
                [innerHTML]="contextualitem.list"></a>
        </div>
    }
    </div>
</div>