<div class="card">
    <div class="card-header">
      <h4>Without borders style</h4>
      <p class="f-m-light mt-1">
         By adding <code>.plain-style </code>class to <code>.mega-inline</code> You can archive this style</p>
    </div>
    <div class="card-body">
      <form class="mega-inline plain-style">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="media p-20">
                <div class="form-check checkbox checkbox-warning m-0">
                  <input class="form-check-input" id="checkbox11" type="checkbox" checked="">
                  <label class="form-check-label" for="checkbox11"><span class="media-body megaoption-space"><span class="mt-0 mega-title-badge">$39<span class="badge badge-warning pull-right digits">100 MBPS</span></span><span>Plans for 2/4/6 months are offered to new clients.</span></span></label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="media p-20">
                <div class="form-check checkbox checkbox-info m-0">
                  <input class="form-check-input" id="checkbox22" type="checkbox">
                  <label class="form-check-label" for="checkbox22"><span class="media-body megaoption-space"><span class="mt-0 mega-title-badge">$50<span class="badge badge-info pull-right digits">Hired</span></span><span>Plans for 2 years projects offered to new clients.</span></span></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer text-end">
      <button class="btn btn-warning m-r-15" type="submit">Submit</button>
      <button class="btn list-light-warning" type="submit">Cancel</button>
    </div>
  </div>
