<div class="cd-timeline-img cd-movie bg-danger"><i class="icon-agenda"></i></div>
<div class="cd-timeline-content">
  <div class="timeline-wrapper">
    <div class="badge bg-warning">Resolutions</div>
  </div>
  <h5 class="f-w-500 m-0">My Resolutions for 2024</h5>
  <p class="mb-0">
      I'm determined to streamline, organism, systematism, realign, and embrace life in 2024.                          </p>
  <div class="time-content pt-2"><i class="icon-write"></i>
    <h6>My Resolutions    </h6>
  </div><span class="cd-date">December 31 2022</span>
</div>
