<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Product Form</h5>
                </div>
                <div class="card-body">
                    <div class="row g-xl-5 g-3">
                        <div class="col-xxl-3 col-xl-4 box-col-4e sidebar-left-wrapper">
                            <app-products-form-stepe [stepsData]="stepsData" [activeSteps]="activeSteps"></app-products-form-stepe>
                        </div>
                        <div class="col-xxl-9 col-xl-8 box-col-8 position-relative">
                            <div class="tab-pane fade show active" id="detail-product" [ngClass]="activeSteps == 1 ? 'd-block' : 'd-none'">
                                <app-add-products-details (activeSteps)="receiveChildData($event)"></app-add-products-details>
                            </div>
                            <div class="tab-pane fade show" id="gallery-product" role="tabpanel" [ngClass]="activeSteps == 2 ? 'd-block' : 'd-none'">
                                <app-products-gallery (activeSteps)="receiveChildData($event)"></app-products-gallery>
                            </div>
                            <div class="tab-pane fade show" id="category-product" [ngClass]="activeSteps == 3 ? 'd-block' : 'd-none'">
                                <div class="sidebar-body">
                                    <app-products-categories (activeSteps)="receiveChildData($event)"></app-products-categories>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="pricings" [ngClass]="activeSteps == 4 ? 'd-block' : 'd-none'">
                                <div class="sidebar-body">
                                    <app-selling-price (activeSteps)="receiveChildData($event)"></app-selling-price>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="advance-product" [ngClass]="activeSteps == 5 ? 'd-block' : 'd-none'">
                                <div class="sidebar-body advance-options">
                                    <app-advance (activeSteps)="receiveChildData($event)"></app-advance>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>