<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-4 col-md-4">
            <app-one-to-ten-ratingbar></app-one-to-ten-ratingbar>
        </div>
        <div class="col-xxl-4 col-md-4">
            <app-movie-ratingbar></app-movie-ratingbar>
        </div>
        <div class="col-xxl-4 col-md-4">
            <app-square-ratingbar></app-square-ratingbar>
        </div>
        <div class="col-xxl-4 col-md-4">
            <app-star-ratingbar></app-star-ratingbar>
        </div>
        <div class="col-xxl-4 col-md-4">
            <app-horizontal-ratingbar></app-horizontal-ratingbar>
        </div>
        <div class="col-xxl-4 col-md-4">
            <app-current-ratingbar></app-current-ratingbar>
        </div>
    </div>
</div>
