<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>Support Ticket List</h4><span>List of ticket opend by customers</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <app-support-ticket-list></app-support-ticket-list>
                    </div>
                    <app-support-ticket-datatable></app-support-ticket-datatable>
                </div>
            </div>
        </div>
    </div>
</div>