<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-variation-radio></app-variation-radio>
        </div>
        <div class="col-sm-12">
            <app-variation-checkbox></app-variation-checkbox>
        </div>
        <div class="col-sm-12 col-xxl-6 box-col-6">
            <app-default-style></app-default-style>
        </div>
        <div class="col-sm-12 col-xxl-6 box-col-6">
            <app-without-borders-style></app-without-borders-style>
        </div>
        <div class="col-sm-12 col-xxl-6 box-col-6">
            <app-solid-border-style></app-solid-border-style>
        </div>
        <div class="col-sm-12 col-xxl-6 box-col-6">
            <app-offer-style-border></app-offer-style-border>
        </div>
        <div class="col-sm-12">
            <app-inline-style></app-inline-style>
        </div>
        <div class="col-sm-12 col-xxl-6 box-col-12">
            <app-vertical-style></app-vertical-style>
        </div>
        <div class="col-sm-12 col-xxl-6 box-col-12">
            <app-horizontal-style></app-horizontal-style>
        </div>
    </div>
</div>