<div class="card">
    <div class="card-header">
      <h4>Custom switch</h4>
      <p class="f-m-light mt-1">
         A switch has the markup of a custom checkbox but uses the .form-switch class to render a <code>toggle switch</code>.</p>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-4 col-sm-6">
                <div class="card-wrapper border rounded-3">
                    <div class="form-check-size">
                        @for(item of customData; track item){
                        <div class="form-check form-switch form-check-inline">
                            <input class="form-check-input switch-{{item.class}} check-size" type="checkbox"
                                [checked]="item.value">
                        </div>
                    }
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card-wrapper border rounded-3 radius-none">
                    <div class="form-check-size default-square">
                        @for(item of customData; track item){
                        <div class="form-check form-switch form-check-inline">
                            <input class="form-check-input switch-{{item.class}} check-size" type="checkbox"
                                [checked]="item.value">
                        </div>
                    }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-wrapper border rounded-3 common-flex">
                    <div class="form-check-size">
                        @for(item of customData; track item){
                        <div class="form-check form-switch form-check-inline">
                            <input class="form-check-input switch-{{item.class}} check-size" type="checkbox"
                                [checked]="item.value" disabled="">
                        </div>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
