<div class="card">
    <div class="card-header">
        <h4>Horizontal Timeline </h4>
        <p class="f-m-light mt-1">
            Use the <code>.square-timeline</code> main class through create new variations of timeline.</p>
    </div>
    <div class="card-body">
        @for(allData of horizontalTimelineData; track allData){
        <div class="list-inline events timeline-list {{ allData.ulClass }} row">
            @for(timeLineData of allData.data; track timeLineData){
            <div  class="{{ timeLineData.divClass }}">
                <div>
                    @if(allData.id === 2){
                        <div  class="vertical-line"></div>
                       }
                    <div class="list-inline-item event-list">
                        <div class="px-4">
                            <div
                                class="event-date alert-light-{{ timeLineData.colorClass }} txt-{{ timeLineData.colorClass }}">
                                {{ timeLineData.date }}
                            </div>
                            <h5 class="f-w-500">{{ timeLineData.title }} </h5>
                            <p class="text-muted">{{ timeLineData.desc }}</p>
                            <div class="read-more-btn">
                                <a class="btn btn-primary px-3" href="javascript:void(0)">Read
                                    more</a>
                            </div>
                        </div>
                    </div>
                    @if(allData.id === 1){
                    <div  class="vertical-line"></div>
                    }
                </div>
            </div>
            }
        </div>
        }
    </div>
</div>