<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <app-simple-card></app-simple-card>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-flat-card></app-flat-card>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-without-shadow-card></app-without-shadow-card>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-icon-heading></app-icon-heading>
        </div>
        <div class="col-sm-12">
            <app-dark-card></app-dark-card>
        </div>
        <app-common-info-card></app-common-info-card>
    </div>
</div>
