<table style="width: 100%;">
  <tbody>
    <tr style="padding: 28px 0 5px; display: flex; justify-content: space-between; align-items: center;">
      <td><img class="img-fluid for-light" src="assets/images/logo/logo_dark.png" alt="logo-light"><img
          class="img-fluid for-dark" src="assets/images/logo/logo.png" alt="logo-dark"></td>
      <td>
        <ul
          style="list-style: none; display: flex; align-items: center; background: linear-gradient(291deg,  #006666 21.2%, #006666 83.92%); padding: 31px 80px; border-bottom-left-radius: 100px; gap:28px;">
          <li>
            <svg class="stroke-icon" style="height:14px; width: 14px; fill:#fff; margin-right: 10px;">
              <use href="assets/svg/icon-sprite.svg#call"></use>
            </svg><span style="color: #FFFFFF; font-weight: 500; font-size: 16px;">(239) 555-0108</span>
          </li>
          <li
            style="border-left: 1px solid rgba(255, 255, 255, 0.3); border-right: 1px solid rgba(255, 255, 255, 0.3); padding: 0 22px;">
            <svg class="stroke-icon" style="height:16px; width: 16px; fill:#fff; margin-right: 10px;">
              <use href="assets/svg/icon-sprite.svg#email-box"></use>
            </svg><span style="color: #FFFFFF; font-weight: 500; font-size: 16px;">Riho&#64;themesforest.com</span>
          </li>
          <li>
            <svg class="stroke-icon" style="height:16px; width: 16px; fill:#fff; margin-right: 10px;">
              <use href="assets/svg/icon-sprite.svg#web"></use>
            </svg><span style="color: #FFFFFF; font-weight: 500; font-size: 16px;">Website: www.Rihothemes.com</span>
          </li>
        </ul>
      </td>
    </tr>
    <tr style="display: flex; justify-content: space-between;">
      <td> <span style="font-size: 18px; display:block; font-weight: 600; color:#006666 ; margin-bottom: 14px;">Invoice
          to :</span><span style="font-size: 18px; display:block; font-weight: 600;  margin-bottom: 8px;">Brooklyn
          Simmons</span><span
          style="font-size: 18px; display:block;  opacity: 0.8; margin-bottom: 8px; width: 72%; line-height: 1.4;">2972
          Westheimer Rd. Santa Ana, Illinois 85486 </span><span
          style="font-size: 18px; display:block;  opacity: 0.8; margin-bottom: 8px;">Phone : (219) 555-0114</span><span
          style="font-size: 18px; display:block;  opacity: 0.8; margin-bottom: 8px;">Email :
          yourmail&#64;themesforest.com</span><span
          style="font-size: 18px; display:block;  opacity: 0.8; margin-bottom: 8px;">Website: www.websites.com</span>
      </td>
      <td>
        <h4 style="font-size:42px; font-weight: 600;  margin:0 0 12px 0;">INVOICE</h4><span
          style="font-size: 18px;color: #006666; display: block; font-weight: 600; margin-bottom: 20px;">Bank
          Transfer</span><span style=" display: block; margin-bottom: 12px; font-weight: 600;">Leslie
          Alexander</span><span style="display: block;  font-size: 18px; margin-bottom: 12px;">Bank Account :
          0981234098765</span><span style="display: block;  font-size: 18px; margin-bottom: 12px;">Code :
          LEF098756</span>
      </td>
    </tr>
  </tbody>
</table>