<div class="card-wrapper border rounded-3 light-card checkbox-checked">
    <h6 class="pb-3 f-w-500">Date Format</h6>
    <form class="row g-3">
      <div class="col-12">
        <label class="col-form-label" for="cleave-date1">Date</label>
        <input class="form-control" id="cleave-date1" type="text" placeholder="DD-MM-YYYY">
      </div>
      <div class="col-12">
        <label class="col-form-label" for="cleave-date2">Date format type</label>
        <input class="form-control" id="cleave-date2" type="text" placeholder="MM-YYYY">
      </div>
    </form>
  </div>
