<div class="card" ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem [collapsed]="false">
        <div class="card-header" ngbAccordionHeader>
            <h5 class="mb-0">
                <button class="btn btn-link" ngbAccordionButton>Followings</button>
            </h5>
        </div>
        <div class="collapse show" id="collapseicon10" ngbAccordionCollapse>
            <div class="card-body social-list filter-cards-view" ngbAccordionBody>
                <ng-template>
                    @for(data of followingData; track data){
                    <div class="d-flex">
                        <img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="{{ data.profile }}">
                        <div class="flex-grow-1">
                            <span class="d-block">{{ data.name }}</span>
                            <a href="javascript:void(0)">Add Friend</a>
                        </div>
                     </div>
                  }
                </ng-template>
            </div>
        </div>
    </div>
</div>
